:root {
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  position: relative;
}

.header-flex {
  position: absolute;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  z-index: 2;
}

.logo {
  width: 114px;
  font-family: 'Mimino', sans-serif;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--whit);
}

.header-nav {
  display: flex;
}

.nav-restaurant,
.nav-hotel {
  display: flex;
  align-items: center;
}

.nav-restaurant {
  margin-right: 20px;
}

.header-label {
  color: var(--akzent-yellow);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  margin-right: 8px;

  transition: color var(--transition-main);
}

.header-label:hover,
.header-label:focus {
  color: rgba(243, 198, 83, 0.7);
}

.header-phone {
  display: flex;
  align-items: center;

  transition: border var(--transition-main);
}

.header-number {
  display: none;
}

.header-social-list {
  display: none;
}

.header-icon {
  fill: var(--akzent-yellow);
  transition: fill var(--transition-main);
}



.header-social-icon {
  fill: rgba(243, 198, 83, 0.7);
  transition: fill var(--transition-main);
}

.header-social-icon:hover,
.header-social-icon:focus {
  fill: var(--akzent-yellow);
}

@media screen and (max-width: 1024px) {
  .header-icon:hover, .header-icon:focus {
    fill: rgba(243, 198, 83, 0.7);
  }
}

@media screen and (min-width: 1024px) {
  .header-flex {
    padding-top: 24px;
    width: 96%;
  }

  .logo {
    width: 127px;
    font-size: 40px;
  }

  .nav-restaurant {
    margin-right: 72px;
  }

  .header-label {
    font-size: 20px;
    margin-right: 32px;
  }

  .header-phone {
    padding: 7px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }

  .header-phone:hover,
  .header-phone:focus {
    border: 1px solid var(--akzent-yellow);
  }

  .header-icon {
    margin-right: 4px;
  }

  .header-number {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: var(--whit);
  }
}

@media screen and (min-width: 1200px) {
  .header-flex {
    justify-content: start;
  }

  .logo {
    margin-right: 135px;
  }

  .header-social-list {
    display: flex;
    margin-left: auto;
  }

  .social-item:not(:last-child) {
    margin-right: 22px;
  }
}
