.hero-section {
  background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../../img/Mobile/hero/hero-main-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
  margin: auto;
  color: var(--whit);
}

.hero-title {
  font-family: 'Mimino', sans-serif;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  margin-bottom: 24px;
}

.hero-secondary-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.hero-paragraph {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  margin-bottom: 113px;
}

.hero-btn {
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--akzent-yellow);
  padding: 12px 24px;
  border: 2px solid var(--whit);
  border-radius: 25px;
}

.hero-btn:first-child {
  margin-bottom: 24px;
}