:root {
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-room {
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 13.17%,
      rgba(0, 0, 0, 0) 26%
    ),
    url(../../img/Mobile/hero/hero-hotel-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section-room {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 13.17%,
        rgba(0, 0, 0, 0) 26%
      ),
      url(../../img/Mobile/hero/hero-hotel-mobile@2x.webp);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero-section-room {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 13.17%,
        rgba(0, 0, 0, 0) 26%
      ),
      url(../../img/Mobile/hero/hero-hotel-mobile@3x.webp);
  }
}

.hero-slider {
  padding-top: 208px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

.slider-btn {
  padding: 0;
  border: 0;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
}

.hero-slider-arrow {
  fill: var(--akzent-yellow);
}

.hero-room-content {
  width: 325px;
}

.hero-room-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 14px;
}

.hero-room-disc {
  font-size: 12px;
  letter-spacing: 1.21em;
  text-align: left;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.hero-room-buttons {
  padding-bottom: 40px;
}

.hero-room-btn {
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-room-btn:first-child {
  margin: 0 0 0 auto;
}

.hero-room-list {
  position: absolute;
  bottom: 0px;
  display: block;
  padding-bottom: 10px;
}

.hero-room-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .hero-section-room {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 13.17%,
        rgba(0, 0, 0, 0) 26%
      ),
      url(../../img/Tablet/hero/hero-hotel-tablet@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-room {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 13.17%,
          rgba(0, 0, 0, 0) 26%
        ),
        url(../../img/Tablet/hero/hero-hotel-tablet@2x.webp);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section-room {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 13.17%,
          rgba(0, 0, 0, 0) 26%
        ),
        url(../../img/Tablet/hero/hero-hotel-tablet@3x.webp);
    }
  }

  .hero-slider {
    padding-top: 225px;
    margin-bottom: 88px;
  }

  .hero-room-content {
    width: 100%;
  }

  .hero-room-title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .hero-room-disc {
    width: 400px;
    font-size: 16px;
    margin-bottom: 0;
  }

  .hero-room-buttons {
    padding-bottom: 62px;
  }

  .location-mobile-room {
    bottom: 22px;
  }

  .hero-room-list {
    display: flex;
    padding-bottom: 31px;
    left: 373px;
  }

  .hero-room-item:not(:last-child) {
    margin-right: 22px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section-room {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 13.17%,
        rgba(0, 0, 0, 0) 26%
      ),
      url(../../img/Desktop/hero/hero-hotel-desktop@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-room {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 13.17%,
          rgba(0, 0, 0, 0) 26%
        ),
        url(../../img/Desktop/hero/hero-hotel-desktop@2x.webp);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section-room {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 13.17%,
          rgba(0, 0, 0, 0) 26%
        ),
        url(../../img/Desktop/hero/hero-hotel-desktop@3x.webp);
    }
  }

  .hero-slider {
    padding-top: 265px;
    margin-bottom: 72px;
  }

  .location-mobile-room {
    display: none;
  }

  .hero-room-list {
    display: none;
  }

  .hero-room-disc {
    padding-bottom: 48px;
  }

  .hero-room-buttons {
    position: absolute;
    right: 15px;
    bottom: 66px;
    padding-bottom: 0;
  }
}

/* /////////////////////// */

.modal-block {
  width: 414px;
  padding: 15px;
  outline: 2px solid tomato;
}

.modal-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.modal-close-btn:hover > .modal-icon {
  stroke: var(--akzent-yellow);
}

.modal-icon {
  stroke: #000000;
}

.modal-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--black);
  margin-bottom: 40px;
  text-align: center;
}

.modal-field {
  margin-bottom: 20px;
  position: relative;
}

.modal-field:last-child {
  margin-bottom: 40px;
}

.modal-field-rest {
  margin-bottom: 40px;
}

.field-input {
  display: block;
  width: 100%;
  padding: 17px 12px;
  border: 1px solid var(--text-two-color);
  border-radius: 2px;
  margin-bottom: 8px;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
}

.field-input::placeholder,
.field-select {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}

.field-label {
  font-weight: 500;
  font-size: 14px;
  padding-left: 11px;
  line-height: 1.21;
  color: var(--text-two-color);
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  padding: 20px 41px;
  border: 1px solid var(--akzent-yellow);
  border-radius: 2px;
  margin-bottom: 45px;

  transition: color var(--transition-main),
    background-color var(--transition-main);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  color: var(--black);
  background-color: var(--akzent-yellow);
}

.field-select {
  appearance: none;
}

.modal-arrow-icon {
  fill: var(--text-two-color);
  position: absolute;
  right: 12px;
  top: 20px;
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .modal-block {
    width: 712px;
  }

  .modal-title {
    font-size: 40px;
  }

  .modal-form {
    padding: 0 45px 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .modal-field {
    width: calc((100% - 16px) / 2);
    margin-bottom: 28px;
  }

  .modal-hotel-flex {
    margin-left: 51.5%;
  }

  .modal-field-hotel:nth-child(3n + 1),
  .modal-field-restaurant:nth-child(odd) {
    margin-right: 16px;
  }

  .field-input {
    padding: 18px 12px;
  }

  .field-input::placeholder,
  .field-select {
    font-size: 24px;
  }

  .field-label {
    font-size: 16px;
  }

  .modal-submit-btn {
    font-size: 24px;
    width: 100%;
    margin-bottom: 0;
  }
}
