.hero-section-hotel {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../../img/Mobile/hero/hero-hotel-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../img/Mobile/hero/hero-hotel-mobile@2x.webp);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero-section-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../img/Mobile/hero/hero-hotel-mobile@3x.webp);
  }
} 

.hero-secondary-title-hotel {
  font-size: 20px;
  line-height: 1.21;
  margin-bottom: 178px;
}

@media screen and (min-width: 1024px) {
  .hero-section-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../img/Tablet/hero/hero-hotel-tablet@1x.webp);
  }
  
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../img/Tablet/hero/hero-hotel-tablet@2x.webp);
    }
  }
  
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../img/Tablet/hero/hero-hotel-tablet@3x.webp);
    }
  }

  .hero-secondary-title-hotel {
    margin-bottom: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../img/Desktop/hero/hero-hotel-desktop@1x.webp);
  }
  
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../img/Desktop/hero/hero-hotel-desktop@2x.webp);
    }
  }
  
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../img/Desktop/hero/hero-hotel-desktop@3x.webp);
    }
  }

  .hero-secondary-title-hotel {
    margin-bottom: 249px;
  }
}

