/* .header-flex {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.logo {
  font-family: 'Mimino';
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--whxit);
  margin-right: 135px;
}

.header-nav {
  display: flex;
}

.nav-restaurant,
.nav-hotel {
  display: flex;
  align-items: center;
} */

/* .nav-restaurant {
  margin-right: 72px;
} */

/* .header-label {
  color: var(--akzent-yellow);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  margin-right: 32px;
} */

/* .header-phone {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--whit);
  padding: 7px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

.header-social-list {
  display: flex;
  margin-left: auto;
}

.social-item:not(:last-child) {
  margin-right: 22px;
} */
