.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.kitchen-first-text-block {
    max-width: 258px;
}
.kitchen-pre-header {
    font-family: 'Times New Roman', Times, serif;
    color: #B4B4B4;
    font-size: 20px;
    line-height: 0.76;
    margin-bottom: 12px;
    margin-top: 16px;
}
.kitchen-header {
  display: block;
    color: var(--text-five-color);
    font-family: "Mimino";
    margin-top: 0;
    margin-bottom: 12px;
}
.kitchen-text-one {
    font-weight: 600;
    color: var(--text-one-color);
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 28px;
}
.kitchen-image-one-mobile {
  display: block;
    margin-left: auto;
    margin-bottom: 32px;
}
.kitchen-image-one-tablet,
.kitchen-image-one-desctop {
  display: none;
}
.kitchen-second-line {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 32px;
}

.kitchen-image-two-tablet,
.kitchen-image-two-desctop {
  display: none;
}
.kitchen-text-two {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--text-two-color);
}

.kitchen-images-slider {
  z-index: 5;
}
.kitchen-slider {
  display: flex;
  overflow: hidden;
  column-gap: 24px;
  margin-bottom: 28px;
  transform: translateX(69px);
}
.kitchen-image-three-tablet,
.kitchen-image-three-desctop {
  display: none;
}
.kitchen-image-four-tablet, 
.kitchen-image-four-desctop {
  display: none;
}

.img-list {
  display: flex;
  padding-top: 32px;
  margin-left: 69px;
  gap: 25px;
}

.btn-click-list {
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .kitchen-first-line {
    display: flex;
    column-gap: 26px;
  }
  .kitchen-pre-header{
    font-size: 32px;
    line-height: 1.15;
  }
  .kitchen-first-text-block {
    max-width: 439px;
  }
  .kitchen-header {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
  }
 .kitchen-image-one-mobile,
 .kitchen-image-one-desctop {
  display: none;
 }
 
  .kitchen-image-one-tablet {
    display: block;
    margin: 0;
    width: 400px;
    height: 524px;
    transform: translateY(-32px);
    z-index: 1;
  }
  .kitchen-text-one {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .kitchen-image-two-tablet {
    display: block;
    transform: translateY(-48px);
    z-index: 1;
  }
  .kitchen-image-two-mobile,
  .kitchen-image-two-desctop {
   display: none;
  }
  .kitchen-text-two {
    font-size: 16px;
    max-width: 312px;
  }
  .kitchen-image-three-mobile,
  .kitchen-image-three-dectop {
    display: none;
  }
  .kitchen-image-three-tablet {
    display: block;
  }
  .kitchen-image-four-mobile,
  .kitchen-image-four-dectop {
    display: none;
  }
  .kitchen-image-four-tablet {
    display: block;
  }
  .kitchen-slider {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 1200px) {
  .kitchen-first-line {
    display: flex;
    column-gap: 26px;
  }
  .kitchen-pre-header{
    font-size: 32px;
    line-height: 1.15;
  }
  .kitchen-first-text-block {
    max-width: 518px;
  }
  .kitchen-header {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
  }
  .kitchen-image-one-mobile,
  .kitchen-image-one-tablet {
    display: none;
  }
  .kitchen-text-one {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .kitchen-image-one-mobile,
  .kitchen-image-one-tablet {
    display: none;
  }
  .kitchen-image-one-desctop {
    display: block;
    transform: translateY(-32px);
    z-index: 1;
  }
  .kitchen-image-two-mobile,
  .kitchen-image-two-desctop {
   display: none;
  }
  .kitchen-image-two-desctop {
    display: block;
    transform: translateY(-97px);
    z-index: 1;
  }
  .kitchen-text-two {
    font-size: 16px;
    max-width: 312px;
  }
  .kitchen-image-three-mobile,
  .kitchen-image-three-tablet {
    display: none;
  }
  .kitchen-image-three-desctop {
    display: block;
  }
  .kitchen-image-four-mobile,
  .kitchen-image-four-tablet {
    display: none;
  }
  .kitchen-image-four-desctop {
    display: block;
  }
  .kitchen-slider {
    transform: translateX(0px);
  }
}