/* ADAPTIVE VESION */

.location {
  padding-top: 18px;
  padding-bottom: 16px;
}

.loc-hotel-title {
  font-family: 'Mimino';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--text-five-color);
  margin-bottom: 12px;
  width: 127px;
  margin-right: auto;
}

.loc-hotel-name {
  font-weight: 600;

  letter-spacing: 0.02em;

  color: var(--text-one-color);

  margin-bottom: 16px;
}

.loc-contact-list {
  list-style: none;
}

.loc-contact-item {
  font-style: normal;

  font-weight: 500;
  font-size: 20px;

  letter-spacing: 0.02em;

  color: var(--text-two-color);
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.loc-contact-item:first-child {
  gap: 22px;
}

.loc-contact-item:nth-child(2) {
  gap: 54px;
}

.loc-contact-item:last-child {
  margin-bottom: 0px;
  width: 96%;
}

.loc-address {
  margin-left: 123px;
}

.loc-link-wrap {
  background: var(--whit);
  border: 0.5px solid var(--akzent-yellow);
  border-radius: 2px;

  padding: 12px 8px 11px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  position: relative;
}

.loc-contact-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text-five-color);
  font-style: normal;
}

.loc-address-wrap {
  background: #ffffff;
  border: 0.5px solid var(--akzent-yellow);
  border-radius: 2px;
  height: auto;
  position: relative;
}

.loc-address-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: var(--text-five-color);
  font-style: normal;
  padding: 8px 8px 8px 44px;
}

.loc-google-maps {
  width: 100%;
  min-width: auto;
  height: auto;
  min-height: 220px;

  border: 1px solid var(--text-six-color);

  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.loc-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  stroke: var(--text-two-color);
  fill: var(--text-two-color);
}

@media screen and (min-width: 319px) {
  .loc-contact-item {
    justify-content: space-between;
  }

  .loc-address {
    margin-left: 0;
  }
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }

  .loc-contact-item {
    justify-content: flex-start;
  }

  .loc-link-wrap {
    max-width: 260px;
    flex-direction: row;
  }

  .loc-address-wrap {
    max-width: 260px;
  }

  .loc-address {
    margin-left: 123px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 25px;
    padding-bottom: 7px;
  }

  .loc-hotel-title {
    font-size: 64px;
    padding-bottom: 16px;
  }

  .loc-hotel-name {
    margin-bottom: 52px;
  }

  .loc-contact-item {
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .loc-contact-item:first-child {
    gap: 8px;
    width: fit-content;
  }

  .loc-contact-item:nth-child(2) {
    gap: 8px;
  }

  .loc-address {
    margin-left: 0px;
    margin-top: 48px;
  }

  .loc-google-maps {
    width: 535px;
    height: 412px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .location {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .loc-google-maps {
    width: 634px;
    height: 412px;
  }
}
