

/* ADAPTIVE VESION */

.location {
  padding-top: 36px;
  padding-bottom: 32px;

}


.loc-hotel-brand {
  font-family: 'Mimino';
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--text-2-color);

  margin-bottom: 12px;
}

.loc-hotel-name {
  font-weight: 600;

  letter-spacing: 0.02em;

  color: var(--text-1-color);

  margin-bottom: 16px;
}

.loc-contact-list {
  list-style: none;
}

.loc-contact-item {
  font-family: "Montserrat";
  font-style: normal;

  font-weight: 500;
  font-size: 20px;

  letter-spacing: 0.02em;

  color: var(--text-2-color);
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.loc-contact-item:first-child {
  gap: 22px;
  width: fit-content;
}

.loc-contact-item:nth-child(2) {
  gap: 54px;
}

.loc-contact-item:last-child {
  margin-bottom: 0px;
  width: 96%;
}

.loc-address {
  margin-left: 123px;

  /* 
  margin-right: auto; */

  /*   
  display: block;
   */
}

.loc-link-wrap {
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;

  padding: 12px 8px 11px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
}

.loc-contact-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #494848;
  font-style: normal;
}

.loc-address-wrap {
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  height: auto;
  padding-top: 8px;
  position: relative;

     margin-bottom: 32px;
}

.loc-address-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: #494848;
  font-style: normal;
  padding-left: 44px;
  padding-right: 36px;
  padding-bottom: 7px;
  /* padding: 12px 8px 0px 44px;  */

 
}

.loc-google-maps {
  width: 100%;
  min-width: auto;
  height: auto;
  min-height: 220px;


  border: 1px solid #BABABA;

box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.loc-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

@media screen and (min-width: 414px) {
 

.container {
  width: 414px;
}

.loc-link-wrap {
    max-width: 260px;
  flex-direction: row;
}

.loc-address-wrap {
  max-width: 260px;
}
}

@media screen and (min-width: 1024px) {
 

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.location {
    display: flex;
  flex-direction: row;
 justify-content: space-between;
padding-left: 47px;
  padding-right: 47px;
}


.loc-contact-item {
  
  margin-bottom: 24px;
  flex-direction: column;
      align-items: flex-start;
}



.loc-contact-item:first-child {
  gap: 8px;
  width: fit-content;
}

.loc-contact-item:nth-child(2) {
  gap: 8px;
}


.loc-address {
    margin-left: 0px;
}

.loc-google-maps {
  Width: 535px;
Height: 412px;
}
}



@media screen and (min-width: 1200px) {
 

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
 }

.location {
   
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 64px;
    padding-bottom: 74px;
}

}





 

