/* BOOK ROOM */

/* Стили для подложки */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: 0.3s all;
}

.modal-block {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  overflow: auto;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 400px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  background-color: var(--dark-lemon);
  padding: 15px;
}


.modal-block.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.modal-close-btn:hover > .modal-icon {
  stroke: var(--akzent-yellow);
}

.modal-icon {
  stroke: #000000;
}

.modal-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--black);
  margin-bottom: 40px;
  text-align: center;
}

.modal-mini-title {
  font-size: 24px;
  line-height: 1.15;
  color: #808080;
  letter-spacing: 0.05em;
  margin-bottom: 28px;
  text-align: left;
}

.modal-category {
  font-size: 16px;
  color: var(--text-two-color);
  font-weight: 500;
  letter-spacing: 1.21em;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 20px;
  position: relative;
}

.modal-field:last-child {
  margin-bottom: 40px;
}

.modal-field-rest {
  margin-bottom: 40px;
}

.field-input {
  display: block;
  width: 100%;
  padding: 17px 12px;
  border: 1px solid var(--text-two-color);
  border-radius: 2px;
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--black);
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
}

.field-input::placeholder,
.field-select {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}

.field-label {
  font-weight: 500;
  font-size: 14px;
  padding-left: 11px;
  line-height: 1.21;
  color: var(--text-two-color);
}

.modal-submit-btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.21;
  padding: 20px 41px;
  border: 1px solid var(--akzent-yellow);
  border-radius: 2px;
  margin-bottom: 45px;

  transition: color var(--transition-main),
    background-color var(--transition-main);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  color: var(--black);
  background-color: var(--akzent-yellow);
}

.field-select {
  appearance: none;
}

.modal-arrow-icon {
  fill: var(--text-two-color);
  position: absolute;
  right: 12px;
  top: 20px;
  pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .modal-block {
    max-height: 90vh;
    width: 95vw;
  }

  .modal-title {
    font-size: 20px;
  }

  .field-input, .field-input::placeholder,
  .field-select {
    font-size: 16px;
  }

  .field-label {
    font-size: 12px;
  }

  .modal-submit-btn {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-block {
    max-width: 712px;
  }

  .modal-title {
    font-size: 40px;
  }

  .modal-form {
    padding: 0 45px 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .modal-field {
    width: calc((100% - 16px) / 2);
    margin-bottom: 28px;
  }

  .modal-hotel-flex {
    margin-left: 51.5%;
  }

  .modal-field-hotel:nth-child(3n + 1),
  .modal-field-restaurant:nth-child(odd) {
    margin-right: 16px;
  }

  .field-input {
    padding: 18px 12px;
  }

  .field-input:focus {
    outline: 1px solid var(--text-two-color);
  }

  .field-input, .field-input::placeholder,
  .field-select {
    font-size: 24px;
  }

  .field-label {
    font-size: 16px;
  }

  .modal-submit-btn {
    font-size: 24px;
    width: 100%;
    margin-bottom: 0;
  }
}
