.restaurant-section {
  position: relative;
  padding-top: 16px;
  padding-bottom: 20px;
}
.restaurant-subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 20px;
  color: var(--text-four-color);

  margin-bottom: 12px;
}
.restaurant-logo {
  font-family: 'Mimino';
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--text-five-color);

  margin-bottom: 12px;
}
.restaurant-text,
.restaurant-orange-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  color: var(--text-one-color);
}
.restaurant-text {
  margin-bottom: 28px;
}
.restaurant-img {
  display: flex;
  align-items: center;
}
.restaurant-orange-text {
  color: var(--text-two-color);
}
.restaurant-slider-box {
  display: flex;
  margin-bottom: 20px;
}
.rest-img-shadow {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.restaurant-slider:not(:last-child) {
  margin-right: 25px;
}
.restaurant-arrow {
  display: flex;
  justify-content: flex-end;
}
.restaurant-arrow-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.restaurant-arrow-btn:hover,
.restaurant-arrow-btn:focus {
  fill: var(--akzent-yellow);
}
.restaurant-arrow-btn:not(:last-child) {
  margin-right: 32px;
}
.rest-img-size {
  max-width: 200px;
}
@media screen and (min-width: 320px) and (max-width: 413px) {
  .restaurant-slider-box {
    margin-left: 20px;
  }
  .restaurant-orange-text {
    font-size: 10px;
  }
  .restaurant-slider:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .restaurant-section {
    overflow: hidden;
  }
  .restaurant-item {
    width: 258px;
  }
  .restaurant-orange-text {
    width: 163px;
  }
  .restaurant-img {
    margin-bottom: 32px;
  }
  .restaurant-top-img {
    margin-left: auto;
    margin-bottom: 32px;
  }
  .rest-slide-img-size {
    max-width: 245px;
  }
  .restaurant-interior-img {
    margin-right: 20px;
  }
}
@media screen and (min-width: 414px) and (max-width: 1023px) {
  .restaurant-slider-box {
    margin-left: 69px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-item {
    width: 439px;
  }
  .restaurant-subtitle {
    font-size: 32px;
  }
  .restaurant-logo {
    font-size: 64px;
  }
  .restaurant-text {
    font-size: 16px;
  }
  .restaurant-orange-text {
    width: 312px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurant-section {
    padding-top: 120px;
    padding-bottom: 262px;
  }
  .restaurant-subtitle {
    margin-bottom: 4px;
  }
  .restaurant-logo {
    margin-bottom: 24px;
  }
  .restaurant-text {
    margin-bottom: 142px;
  }
  .restaurant-img-box {
    position: absolute;
    top: -152px;
    right: 80px;
  }
  .rest-img-size {
    max-width: 350px;
    margin-right: 48px;
  }
  .restaurant-slider-container {
    position: absolute;
    bottom: -230px;
    right: 28px;
  }
  .restaurant-slider:not(:last-child) {
    margin-right: 40px;
  }
  .restaurant-slider-box {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant-section {
    padding-top: 120px;
    padding-bottom: 225px;
  }
  .restaurant-item {
    width: 518px;
  }
  .restaurant-logo {
    margin-bottom: 24px;
  }
  .restaurant-text {
    margin-bottom: 162px;
  }
  .restaurant-img-box {
    position: absolute;
    top: -153px;
    right: 110px;
  }
  .rest-img-size {
    max-width: 460px;
    margin-right: 32px;
  }
  .restaurant-slider-container {
    position: absolute;
    bottom: -175px;
    right: 15px;
  }
  .restaurant-slider:not(:last-child) {
    margin-right: 40px;
  }
  .restaurant-slider-box {
    margin-bottom: 32px;
  }
}
