.container .restaurant-menu {
  background-color: var(--dark-lemon);
}

.restaurant-menu {
  background-color: var(--dark-lemon);
  color: var(--black);
}

.menu-header {
  font-family: 'Times New Roman', serif;
  font-size: 32px;
  line-height: 37px;
  padding-top: 32px;
}

.menu-div {
  display: flex;
  flex-direction: column;
}

.menu-chapter {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 23px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-name {
  width: 221px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.menu-item-description {
  width: 220px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.menu-item-weight {
  width: 52px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.menu-item-price {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  margin: auto 0;
}

.menu-btn-div {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.menu-btn {
  background-color: var(--black);
  color: var(--akzent-yellow);
  border: 2px solid var(--lemon);
  border-radius: 25px;
  padding: 14px 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .menu-header {
    padding-top: 58px;
    padding-left: 20px;
  }

  .menu-div {
    flex-direction: row;
    justify-content: center;
    gap: 88px;
  }

  .menu-btn-div {
    justify-content: flex-end;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-header {
    padding-top: 58px;
    padding-left: 85px;
  }

  .menu-div {
    flex-direction: row;
    justify-content: center;
    gap: 140px;
  }

  .menu-btn-div {
    justify-content: flex-end;
    padding-top: 32px;
    padding-bottom: 60px;
  }
}
