.restaurant-desk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/src/img/Mobile/Rest-desk/rest-desk-img4@1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.rd-text-div {
  padding-left: 140px;
}

.rd-header {
  padding-top: 24px;
  font-family: 'Mimino';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--whit);
}

.rd-name {
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--whit);
}

.rd-text {
  margin-top: 20px;
  margin-bottom: 48px;
  width: 260px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-six-color);
}

.rd-scroll {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.rd-scroll img {
  width: 274px;
  height: 270px;
}

.rd-scroll-btn {
  margin-top: 16px;
  padding-left: 40px;
  fill: var(--whit);
  display: flex;
  gap: 32px;
}

.rd-svg {
  width: 32px;
  height: 32px;
}

.rd-btn-div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.rd-btn {
  border: 2px solid var(--whit);
  border-radius: 25px;
  padding: 14px 24px;
  background-color: var(--main-button);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}
