.restaurant-desk {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../../img/Mobile/Rest-desk/rest-desk-img4m@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.rd-text-div {
  padding-left: 140px;
}

.rd-header {
  padding-top: 24px;
  font-family: 'Mimino';
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--whit);
}

.rd-name {
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--whit);
}

.rd-text {
  margin-top: 20px;
  margin-bottom: 48px;
  width: 260px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-six-color);
}

.rd-scroll {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.rd-scroll img {
  width: 270px;
  height: 270px;
}

.rd-scroll-short-img {
  max-width: 162px;
}

.rd-scroll-btn {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 40px;
  fill: var(--whit);
  display: flex;
  gap: 32px;
}

.rd-svg {
  transition: var(--transition-main);
}

.rd-svg:hover,
.rd-svg:focus {
  fill: var(--akzent-yellow);
}

.rd-btn-div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.rd-btn {
  border: 2px solid var(--whit);
  border-radius: 25px;
  padding: 14px 24px;
  color: var(--akzent-yellow);
  background-color: var(--main-button);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;

  transition: background-color var(--transition-main),
    border var(--transition-main);
}

.rd-btn:hover,
.rd-btn:focus {
  background-color: var(--whit);
  border: 2px solid var(--akzent-yellow);
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  .rd-text-div {
    padding-left: 120px;
  }

  .rd-text {
    width: 170px;
  }

  .rd-scroll {
    margin-left: 0;
  }

  .rd-scroll-btn {
    padding-left: 0;
  }
}

@media screen and (min-width: 370px) and (max-width: 400px) {
  .rd-text-div {
    padding-left: 170px;
  }

  .rd-text {
    width: 170px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .restaurant-desk {
    max-width: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../../img/Mobile/Rest-desk/rest-desk-img4t@1x.webp');
    position: relative;
    width: 100%;
  }

  .rd-text-div {
    padding-left: 278px;
  }

  .rd-header {
    padding-top: 48px;
    font-size: 64px;
    line-height: 69px;
  }

  .rd-text {
    width: 460px;
  }

  .rd-scroll {
    padding-left: 270px;
  }

  .rd-scroll-btn {
    padding-left: 310px;
    margin-bottom: 40px;
  }

  .rd-btn-div {
    position: absolute;
    top: 375px;
    left: 42px;
    margin: 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .restaurant-desk {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../../img/Mobile/Rest-desk/rest-desk-img4d@1x.webp');
    position: relative;
  }

  .rd-text-div {
    padding-left: 278px;
  }

  .rd-header {
    padding-top: 48px;
    font-size: 64px;
    line-height: 69px;
  }

  .rd-text {
    width: 460px;
  }

  .rd-scroll {
    padding-left: 250px;
    gap: 86px;
  }

  .rd-scroll-btn {
    padding-left: 310px;
    margin-bottom: 40px;
  }

  .rd-btn-div {
    position: absolute;
    top: 375px;
    left: 42px;
    margin: 0 0;
  }
}
