.room-one-container {
    padding-top: 32px;
    padding-bottom: 32px;
}
.room-one-pre-title {
    margin-bottom: 8px;

    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15; /* 23/20 */
    color: var(--text-four-color);
}
.room-one-logo {
    margin-bottom: 32px;

    font-family: 'Mimino';
    font-size: 40px;
    line-height: 1.07; /* 43/40 */
    letter-spacing: 0.3em;
    color: var(--text-five-color);
}
.room-one-title {
    margin-bottom: 12px;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16; /* 28/24 */
    letter-spacing: 0.05em;

    color: var(--black);
}
.room-one-description {
    max-width: 258px;
    margin-bottom: 32px;

    font-size: 12px;
    line-height: var( --line-height-body);
    letter-spacing: var(--letter-spacing-body);

    color: var(--text-one-color);
}
.room-one-img-general {
    margin-bottom: 32px;

    display: flex;
    justify-content: flex-end; 
}
.room-one-img {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.room-one-slader {
    position: relative;

    width: 100%;
    height: 194px;
    margin-bottom: 28px;
}
.room-one-slader-one {
    position: absolute;
    top: 0;
    left: -120px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.room-one-slader-two {
    position: absolute;
    top: 0;
    left: 90px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.room-one-button {
    margin-bottom: 28px;
}
.room-one-btn-click {
    display: flex;
    gap: 32px;
}
.room-one-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.room-one-link-btn {
    width: 234px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-weight: var(--font-weight-body);
    font-size: 16px;
    
    border: 2px solid #FFFDEE;
    border-radius: 25px; 
    color: var(--akzent-yellow); 
}

a.room-one-link-btn {
    display: block;
    text-align: center;

    background-color: var(--black);
}

.room-one-link-btn:hover,
.room-one-link-btn:focus {
    background-color: var(--whit);
    border: 2px solid #F3C653;
    border-radius: 25px;
}

