.triple-room{
    background:var(--dark-lemon);
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: right;
  
    
}

.triple-room-text{
    font-weight: 400;
    line-height: 1.15;
    color: var(--text-four-color);

    margin-bottom: 8px;
}
 
.triple-room-title{
font-family:  'Mimino';
font-size: 40px;
line-height: 1.7;
letter-spacing: 0.3em;
color: var(--text-five-color);
width: 127px;

margin-bottom: 32px;
margin-left: auto;
}

.triple-room-second-title{
font-family: 'Times New Roman', Times, serif;
font-size: 24px;
line-height: 1.15;
letter-spacing: 0.05em;
color: var(--black);

margin-bottom: 12px;
}


.triple-room-paragraph{
font-family: 'Montserrat';
font-weight: 600;
font-size: 12px;
color: var(--text-one-color);

margin-bottom: 32px;
width: 242px;
padding-left: 83px;
text-align: start;
}

.triple-room-svg{
margin-bottom: 28px;
display: flex;
justify-content: flex-end; 
gap: 32px;
}

.triple-room-arrow-btn{
   
    background-color: transparent;
    border: none;
    outline: none;

}

.triple-room-arrow-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .triple-room-arrow-btn:hover,
  .triple-room-arrow-btn:focus {
    fill: var(--akzent-yellow);
  }

.triple-room-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
  }

.triple-room-nav-link {
    padding: 14px 64px;
  }

.triple-room-nav-btn {
    padding: 14px 32px;
  }


.triple-room-nav-link,
.triple-room-nav-btn {
    width: 234px;

  background-color: var(--black);
  border: 2px solid transparent;
  border-radius: 25px;

  color: var(--akzent-yellow);
  font-weight: 600;
  font-size: 16px;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .triple-room-nav-link:hover,
    .triple-room-nav-link:focus,
    .triple-room-nav-btn:hover,
    .triple-room-nav-btn:focus {
        background-color: var(--whit);
        color: var(--akzent-yellow);
        border: 2px solid var(--akzent-yellow);
}

.triple-room-img{
    margin-bottom: 32px;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.triple-room-slider-box{
    display: flex;
    gap: 16px;
    margin-bottom: 28px;

}

.triple-room-slider-img{
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;}

/* -------------------------------- */

@media screen and (max-width: 767px) {
    .triple-room {
      overflow: hidden;
    }
    .triple-room-img-tab,
    .triple-room-item-tab,
    .triple-room-img-desk,
    .triple-room-item-desk {
      display: none;
    }
    .triple-room-slider-box {
      width: 286px;
      margin-right: 30px;
      margin-bottom: 20px;
      margin-left:70px;
    }
    .triple-room-slider-img {
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    }
    .triple-room-slider-img:not(:last-child) {
      margin-right: 16px;
    }
  }

/* -------------------------------- */

  @media screen and (max-width: 1023px) {
    .triple-room-text{
      font-size: 20px;
    }
    .triple-room-paragraph{
      width: 258px;
      font-size: 12px;
    }
    .triple-room-slider-img {
      border-radius: 2px;
    }
  }

  /* -------------------------------- */

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .triple-room{
     
  }
  
   
    .triple-room-img {
      position: absolute;
      margin-bottom: 0;
      overflow: visible;
      z-index: 1;
      top: -86px;
      left: 20px;
      margin-bottom: 48px;
    }

    .triple-room-slider-box{
      margin-bottom: 32px;
    }


    .triple-room-text {
      font-size: 26px;
      margin-bottom: 4px;
    }
    .triple-room-title {
      font-size: 64px;
      margin-bottom: 62px;
      width: 202px;
    }
    .triple-room-second-title {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 16px;
    }
    .triple-room-paragraph {
      width: 400px;
      font-size: 16px;
    }


  }

 /* -------------------------------- */

 
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .triple-room-img {
    position: absolute;
    margin-bottom: 0;
    overflow: visible;
    z-index: 1;
    top: -96px;
    left: 50px;
  }
  .triple-room-text {
    margin-bottom: 4px;
  }
  .triple-room-title {
    font-size: 64px;
    width: 202px;
  }
  .triple-room-second-title{
    font-size: 30px;
    line-height: 1.15;

    margin-bottom: 16px;
  }
  .triple-room-paragraph {
    width: 439px;
    font-size: 16px;
  }
}

 /* -------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .triple-room-section {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  
  .triple-room-paragraph {
    margin-bottom: 174px;
    margin-left: auto;
  }
  .triple-room-slider-box {
    margin-bottom: 32px;
  }
  .triple-room-slider-img:not(:last-child) {
    margin-right: 40px;
  }
  .triple-room-arrow {
    margin-left: 330px;
  }
  .triple-room-img-mob,
  .triple-room-img-desk,
  .triple-room-item-mob,
  .triple-room-item-desk {
    display: none;
  }
}

 /* -------------------------------- */


  @media screen and (min-width: 768px) {
    .triple-room-item-mob,
    .triple-room-img-mob {
      display: none;
    }
    .triple-room-slider {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .triple-room-item {
      display: flex;
      justify-content: space-between;
     
    }
    .triple-room-nav {
      display: flex;
    }
  }

   /* -------------------------------- */

  @media screen and (min-width: 1280px) {
    .triple-room{
      padding-top: 72px;
      padding-bottom: 40px;
      margin-left: auto;
    }
    .triple-room-img-tab,
    .triple-room-item-mob,
    .triple-room-item-tab {
      display: none;
    }
    .triple-room-img {
      position: absolute;
      margin-bottom: 0;
      overflow: visible;
      z-index: 1;
      top: -104px;
      left: 80px;
    }
    .triple-room-img {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    .triple-room-text{
      font-size: 32px;
    }
    .triple-room-title {
      font-size: 64px;
      margin-bottom: 72px;
      width: 202px;
    }
    .triple-room-second-title {
      font-size: 36px;
      margin-bottom: 24px;
    }
    .triple-room-paragraph {
      width: 400px;
      font-size: 16px;
      margin-bottom: 188px;
      margin-left: auto;
    }
    .triple-room-slider-box {
      display: flex;
      margin-bottom: 40px;
    }
    .triple-room-slider-img:not(:last-child) {
      margin-right: 40px;
    }
    .triple-room-arrow {
      align-self: flex-end;
    }
  }
  

 