<footer class="footer">
  <div class="container footersec">
    <div class="footer-logo">
      <a href="./index.html" class="footer-logo-first link">MIMIHO</a>
    </div>
    <div class="footersec-all">
      <ul class="footersec-list list">
        <li class="footersec-item">
          <a href="./index.html" class="footersec-link link">Головна</a>
        </li>
        <li class="footersec-item">
          <a href="./restaurant-page.html" class="footersec-link link"
            >Ресторан</a
          >
        </li>
        <li class="footersec-item">
          <a href="./hotel-page.html" class="footersec-link link">Готель</a>
        </li>
      </ul>

      <ul class="footersoc-list list">
        <li class="footersoc-item">
          <a href="https://www.instagram.com/" class="footersoc-link link">
            <span class="footersoc-tel">Instagram</span>
            <svg class="footersoc-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footersoc-item">
          <a href="https://www.facebook.com/" class="footersoc-link link">
            <span class="footersoc-tel">Facebook</span>

            <svg class="footersoc-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footersoc-item">
          <a href="https://www.telegram.com/" class="footersoc-link link">
            <span class="footersoc-tel">Telegram</span>

            <svg class="footersoc-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
