<header>
  <div class="container">
    <a href="../index.html" class="logo">MIMIHO</a>
    <nav class="header-nav">
      <div class="nav-restourant">
        <a
          href="../restaurant-page.html"
          aria-label="restaurant"
          >Ресторан</a
        >
        <a
          href="tel:+380955559533"
          aria-label="restaurant call"
        >
          <svg width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-phone"></use>
          </svg>
          <p>095 555 95 33</p>
        </a>
      </div>
      <div class="nav-hotel">
        <a
          href="../hotel-page.html"
          aria-label="hotel"
          >Готель</a
        >
        <a
          href="tel:+380668491089"
          aria-label="hotel call"
        >
          <svg width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-phone"></use>
          </svg>
          <p>066 849 10 8</p>
        </a>
      </div>
    </nav>
    <ul class="header-social-list">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="instagram page"
          ><svg width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="facebook page"
          ><svg width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.telegram.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="telegram page"
          ><svg width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-telegram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
<section class="section hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-secondary-title">Ресторанно-готельний комплекс</h2>
    <p class="hero-paragraph">СМАК ЖИТТЯ 24/7</p>
    <div class="hero-nav">
      <a
        href="https://goo.gl/maps/ffNnmojT6fPguKqT9"
        class="hero-location"
        target="_blank"
        rel="noopener nofollow norefferer"
        aria-label="our location"
      >
        <svg width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-location"></use>
        </svg>
        <p>Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</p>
      </a>
      <div class="hero-buttons">
        <button class="hero-btn" type="submit">Забронювати столик</button>
        <button class="hero-btn" type="submit">Забронювати номер</button>
      </div>
    </div>
  </div>
</section>
