<header>
  <div class="container">
    <div class="header-flex">
      <a href="../index.html" class="logo">MIMIHO</a>
      <nav class="header-nav">
        <div class="nav-restaurant">
          <a href="../restaurant-page.html" class="header-label" aria-label="restaurant">Ресторан</a>
          <a
            class="header-phone"
            href="tel:+380955559533"
            aria-label="restaurant call"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-phone"></use>
            </svg>
            <p class="header-number">095 555 95 33</p>
          </a>
        </div>
        <div class="nav-hotel">
          <a href="../hotel-page.html" class="header-label" aria-label="hotel">Готель</a>
          <a
            class="header-phone"
            href="tel:+380668491089"
            aria-label="hotel call"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-phone"></use>
            </svg>
            <p class="header-number">066 849 10 89</p>
          </a>
        </div>
      </nav>
      <ul class="header-social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener nofollow norefferer"
            aria-label="instagram page"
            ><svg class="header-social-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener nofollow norefferer"
            aria-label="facebook page"
            ><svg class="header-social-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.telegram.com/"
            target="_blank"
            rel="noopener nofollow norefferer"
            aria-label="telegram page"
            ><svg class="header-social-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-telegram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
