<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-slider">
      <button class="hero-slider-btn" type="button">
        <svg width="40" height="40">
          <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="hero-slider-btn" type="button">
        <svg width="40" height="40">
          <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <div class="hero-flex">
      <p class="hero-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <button class="hero-btn" type="submit">Переглянути ціни</button>
    </div>
  </div>
</section>