<section class="section hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-secondary-title">Готель</h2>
    <div class="hero-nav">
      <a
        href="https://goo.gl/maps/ffNnmojT6fPguKqT9"
        class="hero-location"
        target="_blank"
        rel="noopener nofollow norefferer"
        aria-label="our location"
      >
        <svg width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-location"></use>
        </svg>
        <p>Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</p>
      </a>
      <div class="hero-buttons">
        <button class="hero-btn" type="submit">Забронювати столик</button>
        <button class="hero-btn" type="submit">Забронювати номер</button>
      </div>
    </div>
  </div>
</section>
