<section class="section hero-section-hotel">
  <div class="container hero-container">
    <a
        href="https://goo.gl/maps/ffNnmojT6fPguKqT9"
        class="hero-location location-mobile"
        target="_blank"
        rel="noopener nofollow norefferer"
        aria-label="our location"
      >
        <svg class="hero-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-location"></use>
        </svg>
        <p>Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</p>
      </a>
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-secondary-title-hotel">Готель</h2>
    <div class="hero-nav">
      <div class="hero-buttons">
        <button class="hero-btn js-open-modal" data-modal="book-table" type="submit">Забронювати столик</button>
        <button class="hero-btn js-open-modal" data-modal="book-room" type="submit">Забронювати номер</button>
    </div>
    <ul class="hero-social-list">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="instagram page"
          >
          <svg class="hero-social-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="facebook page"
          >
          <svg class="hero-social-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.telegram.com/"
          target="_blank"
          rel="noopener nofollow norefferer"
          aria-label="telegram page"
          >
          <svg class="hero-social-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    </div>
  </div>
</section>
