<section class="section hero-section-room">
  <div class="container hero-container">
    <a
      href="https://goo.gl/maps/ffNnmojT6fPguKqT9"
      class="hero-location location-mobile location-mobile-room"
      target="_blank"
      rel="noopener nofollow norefferer"
      aria-label="our location"
    >
      <svg class="hero-icon" width="24" height="24">
        <use href="../img/symbol-defs.svg#icon-location"></use>
      </svg>
      <p>Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</p>
    </a>
    <div class="hero-slider">
      <button class="slider-btn" type="button">
        <svg class="hero-slider-arrow" width="40" height="40">
          <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="slider-btn" type="button">
        <svg class="hero-slider-arrow" width="40" height="40">
          <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="hero-room-content">

      <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-room-disc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet.
      </p>
      <div class="hero-nav">
        <div class="hero-buttons hero-room-buttons">
          <button class="hero-btn hero-room-btn" type="submit">Переглянути ціни</button>
        </div>
        <ul class="hero-social-list hero-room-list">
          <li class="social-item hero-room-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow norefferer"
              aria-label="instagram page"
              ><svg class="hero-social-icon" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="social-item hero-room-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener nofollow norefferer"
              aria-label="facebook page"
              ><svg class="hero-social-icon" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item hero-room-item">
            <a
              class="social-link"
              href="https://www.telegram.com/"
              target="_blank"
              rel="noopener nofollow norefferer"
              aria-label="telegram page"
              ><svg class="hero-social-icon" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-telegram"></use></svg
            ></a>
          </li>
        </ul>
    </div>
    </div>
  </div>
</section>
