<section class="hotel-desc">
    <div class="container">
                <div class="hotel-desc-title-list">
                    <h2 class="hotel-desc-title">MIMIHO</h2>
                    <h3 class="hotel-desc-subtitle">Готель</h3>
                </div>
                <p class="hotel-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            <div class="hotel-desc-img-list">
                <img  
                srcset=" 
                ../img/Mobile/Slider/mobile-slider-img15@1х.webp 1x,
                ../img/Mobile/Slider/mobile-slider-img15@2х.webp 2x,
                ../img/Mobile/Slider/mobile-slider-img15@3х.webp 3x"
                src="../img/Mobile/Slider/mobile-slider-img15@1х.webp" alt="Missing Image" width="274" height="270"  class="hotel-desc-img-mobile">
                <img  
                srcset="
                ../img/Mobile/Hotel_desc/hotel-desc-image-slider1@1x.webp 1x, 
                ../img/Mobile/Hotel_desc/hotel-desc-image-slider1@2x.webp 2x, 
                ../img/Mobile/Hotel_desc/hotel-desc-image-slider1@3x.webp 3x" 
                src="../img/Mobile/Hotel_desc/hotel-desc-image-slider1@1x.webp" alt="Missing Image" width="274" height="270" class="hotel-desc-img-mobile">

                <img  
                srcset=" 
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider3@1x.webp 1x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider3@2x.webp 2x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider3@3x.webp 3x"
                src="../img/Tablet/Hotel_desc/hotel-desc-image-slider3@1x.webp" alt="Missing Image" width="162" height="270"  class="hotel-desc-img-tablet">
                <img  
                srcset=" 
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider2@1x.webp 1x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider2@2x.webp 2x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider2@3x.webp 3x"
                src="../img/Tablet/Hotel_desc/hotel-desc-image-slider2@1x.webp" alt="Missing Image" width="162" height="270"  class="hotel-desc-img-tablet">
                <img  
                srcset=" 
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider1@1x.webp 1x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider1@2x.webp 2x,
                ../img/Tablet/Hotel_desc/hotel-desc-image-slider1@3x.webp 3x"
                src="../img/Tablet/Hotel_desc/hotel-desc-image-slider1@1x.webp" alt="Missing Image" width="270" height="270"  class="hotel-desc-img-tablet">
            </div>
            <div class="hotel-desc-icon-list">
                <button type="button" class="hotel-desc-icon-button"><svg width="32" height="32" class="hotel-desc-icon"><use href="../img/symbol-defs.svg#hotel-desc-arrow-left"></use></svg></button>
                <button type="button" class="hotel-desc-icon-button"><svg width="32" height="32" class="hotel-desc-icon"><use href="../img/symbol-defs.svg#hotel-desc-arrow-right"></use></svg></button>
            </div> 
           
            <div class="hotel-desc-button-list">
                <button type="button" class="hotel-desc-button">Забронювати номер</button>
                <button type="button" class="hotel-desc-button">Переглянути ціни</button>
            </div>
    </div>
</section>