<section class="hotel-section">
    <div class="container hotel-section-format">
            <p class="hotel-ghost-text">Amet minim mollit non</p>
            <h1 class="hotel-title">MIMIHO</h1>
            <p class="hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>


        <p class="hotel-text hotel-brown-edition">Amet minim mollit non deserunt ullamco est sit aliqua
            dolor do amet sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>



<div class="hotel-slider">


    <div class="hotel-button">
        <ul class="hotel-btn-click list">
            <li class="hotel-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="hotel-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>
    </div>
    </div>
    </div>
</section>