<section class="hotel-section">
    <div class="hotel-container hotel-section-format">
            <p class="hotel-ghost-text">Amet minim mollit non</p>
            <h1 class="hotel-title">MIMIHO</h1>
            <p class="hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        <img src="" width="244" height="322" alt="hotel">

        <p class="hotel-text hotel-brown-edition">Amet minim mollit non deserunt ullamco est sit aliqua
            dolor do amet sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <img src="" width="200" height="278" alt="hotel">

        <img src="" width="245" height="245" alt="hotel">

        <img src="" width="245" height="245" alt="hotel">
    </div>
</section>