<section class="hotel-desc">
    <div class="container">
        <div>
            <div>
                <h2>MIMIHO</h2>
                <h3>Готель</h3>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div>
                <img src="" alt="" width="402">
                <img src="" alt="" width="250">
                <img src="" alt="" width="476">
            </div>
            <div>
            <button type="button">Забронювати номер</button>
            <button type="button">Переглянути ціни</button>
            </div>
        <div>
        <svg><use></use></svg>
        <svg><use></use></svg>
    </div>
</section>