<section class="kitchen">
    <div class="container">
        <div class="kitchen-first-line">
            <div class="kitchen-first-text-block">
            <p class="kitchen-pre-header">
                Amet minim mollit non
            </p>
            <h2 class="visually-hidden">About our restaurant</h2>
            <p2 class="kitchen-header">
                MIMIHO
            </p2>
            <p class="kitchen-text-one">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            </div>
            <img srcset="../img/Mobile/Kitchen/restaurant-interior-2@1x.jpg 1x, ../img/Mobile/Kitchen/restaurant-interior-2@2x.jpg 2x, ../img/Mobile/Kitchen/restaurant-interior-2@3x.jpg 3x" src="../img/Mobile/Kitchen/restaurant-interior-2@1x.jpg" alt="" class="kitchen-image-one-mobile">
            <img srcset="../img/Tablet/Kitchen/restaurant-interior-2@1x.jpg 1x, ../img/Tablet/Kitchen/restaurant-interior-2@2x.jpg 2x, ../img/Tablet/Kitchen/restaurant-interior-2@3x.jpg 3x" src="../img/Tablet/Kitchen/restaurant-interior-2@1x.jpg" alt="" class="kitchen-image-one-tablet">
            <img srcset="../img/Desktop/Kitchen/restaurant-interior-2@1x.jpg 1x, ../img/Desktop/Kitchen/restaurant-interior-2@2x.jpg 2x, ../img/Desktop/Kitchen/restaurant-interior-2@3x.jpg 3x" src="../img/Desktop/Kitchen/restaurant-interior-2@1x.jpg" alt="" class="kitchen-image-one-desctop">
        </div>
        <div class="kitchen-second-line">
            <img srcset="../img/Mobile/Kitchen/meat@1x.jpg 1x, ../img/Mobile/Kitchen/meat@2x.jpg 2x, ./img/Mobile/Kitchen/meat@3x.jpg 3x" src="../img/Mobile/Kitchen/meat@1x.jpg" alt="" class="kitchen-image-two-mobile">
            <img srcset="../img/Mobile/Tablet/meat@1x.jpg 1x, ../img/Tablet/Kitchen/meat@2x.jpg 2x, ./img/Tablet/Kitchen/meat@3x.jpg 3x" src="../img/Tablet/Kitchen/meat@1x.jpg" alt="" class="kitchen-image-two-tablet">
            <img srcset="../img/Desktop/Tablet/meat@1x.jpg 1x, ../img/Desktop/Kitchen/meat@2x.jpg 2x, ./img/Desktop/Kitchen/meat@3x.jpg 3x" src="../img/Desktop/Kitchen/meat@1x.jpg" alt="" class="kitchen-image-two-desctop">
            <p class="kitchen-text-two">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <!-- <div class="kitchen-images-slider">
            <div class="kitchen-slider">
            <img srcset="../img/Mobile/Kitchen/flour@1x.jpg 1x, ../img/Mobile/Kitchen/flour@2x.jpg 2x, ../img/Mobile/Kitchen/flour@3x.jpg 3x" src="../img/Mobile/Kitchen/flour@1x.jpg" alt="" class="kitchen-image-three-mobile">
            <img srcset="../img/Tablet/Kitchen/flour@1x.jpg 1x, ../img/Tablet/Kitchen/flour@2x.jpg 2x, ../img/Tablet/Kitchen/flour@3x.jpg 3x" src="../img/Tablet/Kitchen/flour@1x.jpg" alt="" class="kitchen-image-three-tablet">
            <img srcset="../img/Desktop/Kitchen/flour@1x.jpg 1x, ../img/Desktop/Kitchen/flour@2x.jpg 2x, ../img/Desktop/Kitchen/flour@3x.jpg 3x" src="../img/Desktop/Kitchen/flour@1x.jpg" alt="" class="kitchen-image-three-desctop">
            <img srcset="../img/Mobile/Kitchen/khinkali@1x.jpg 1x, ../img/Mobile/Kitchen/khinkali@2x.jpg 2x, ../img/Mobile/Kitchen/khinkali@3x.jpg 3x" src="../img/Mobile/Kitchen/khinkali@1x.jpg" alt="" class="kitchen-image-four-mobile">
            <img srcset="../img/Tablet/Kitchen/khinkali@1x.jpg 1x, ../img/Tablet/Kitchen/khinkali@2x.jpg 2x, ../img/Tablet/Kitchen/khinkali@3x.jpg 3x" src="../img/Tablet/Kitchen/khinkali@1x.jpg" alt="" class="kitchen-image-four-tablet">
            <img srcset="../img/Desktop/Kitchen/khinkali@1x.jpg 1x, ../img/Desktop/Kitchen/khinkali@2x.jpg 2x, ../img/Desktop/Kitchen/khinkali@3x.jpg 3x" src="../img/Desktop/Kitchen/khinkali@1x.jpg" alt="" class="kitchen-image-four-desctop">
            </div> -->
        </div>
        <ul class="img-list list">
            <li>
                <img 
                srcset="
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@1x.webp 1x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@2x.webp 2x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@3x.webp 3x
                "
                src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@1x.webp" 
                alt="">
            </li>
            <li>
                <img 
                srcset="
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@1x.webp 1x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@2x.webp 2x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@3x.webp 3x
                "
                src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@1x.webp" 
                alt=""
                width="245"
                height="245">
            </li>
        </ul>
        <ul class="btn-click-list list">
            <li class="res-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="res-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>    
    </div>
</section> 