    <section class="kitchen">
        <div class="container">
            <div class="kitchen-first-line">
                <div class="kitchen-first-text-block">
                <p class="kitchen-pre-header">
                    Amet minim mollit non
                </p>
                <h2 class="kitchen-header">
                    MIMIHO
                </h2>
                <p class="kitchen-text-one">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                </div>
                <img srcset="../img/Mobile/Kitchen/restaurant-interior-2@1x.jpg 1x, ../img/Mobile/Kitchen/restaurant-interior-2@2x.jpg 2x" src="../img/Mobile/Kitchen/restaurant-interior-2@1x.jpg" alt="" class="kitchen-image-one">
            </div>
            <div class="kitchen-second-line">
                <img srcset="../img/Mobile/Kitchen/meat@1x.jpg 1x, ../img/Mobile/Kitchen/meat@2x.jpg 2x" src="../img/Mobile/Kitchen/meat@1x.jpg" alt="" class="kitchen-image-two">
                <p class="kitchen-text-two">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <div class="kitchen-images-slider">
                <img srcset="../img/Mobile/Kitchen/flour@1x.jpg 1x, ../img/Mobile/Kitchen/flour@2x.jpg 2x" src="../img/Mobile/Kitchen/flour@1x.jpg" alt="" class="kitchen-image-three">
                <img srcset="../img/Mobile/Kitchen/khinkali@1x.jpg 1x, ../img/Mobile/Kitchen/khinkali@2x.jpg 2x" src="../img/Mobile/Kitchen/khinkali@1x.jpg" alt="" class="kitchen-image-four">
            </div>
        </div>
    </section> 