<section class="kitchen-section">
    <div class="container kitchen-section-format">
        <p class="kitchen-ghost-text">Amet minim mollit non</p>
        <h1 class="kitchen-title">MIMIHO</h1>
        <p class="kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <!-- First pic -->
        <img class="kitchen-pic-shadow kitchen-pic-mobile one" srcset=" 
        ./img/Mobile/Kitchen/restaurant-interior-2_1x.webp 1x,
        ./img/Mobile/Kitchen/restaurant-interior-2_2x.webp 2x,
        ./img/Mobile/Kitchen/restaurant-interior-2_3x.webp 3x" src="./img/Mobile/Kitchen/restaurant-interior-2_1x.webp" alt="Restaurant interior">

        <img class="kitchen-pic-shadow kitchen-pic-tab kitchen-apartment-format" srcset=" 
        ./img/Tablet/Kitchen/restaurant-interior-2-1x.webp 1x,
        ./img/Tablet/Kitchen/restaurant-interior-2-2x.webp 2x,
        ./img/Tablet/Kitchen/restaurant-interior-2-3x.webp 3x" src="./img/Tablet/Kitchen/restaurant-interior-2-1x.webp" alt="Restaurant interior">

        <img class="kitchen-pic-shadow kitchen-pic-dt kitchen-apartment-format-dt" srcset=" 
        ./img/Desktop/Kitchen/restaurant-interior-2@1x.webp 1x,
        ./img/Desktop/Kitchen/restaurant-interior-2@2x.webp 2x,
        ./img/Desktop/Kitchen/restaurant-interior-2@3x.webp 3x" src="./img/Desktop/Kitchen/restaurant-interior-2@1x.webp" alt="Restaurant interior">



        <div class="kitchen-text-and-pic">
            <img class="kitchen-pic-shadow kitchen-pic-mobile two" srcset=" 
            ./img/Mobile/Kitchen/meat_1x.webp 1x,
            ./img/Mobile/Kitchen/meat_2x.webp 2x,
            ./img/Mobile/Kitchen/meat_3x.webp" src="./img/Mobile/Kitchen/meat_1x.webp" alt="Meat">

            <img class="kitchen-pic-shadow kitchen-pic-tab" srcset=" 
            ./img/Tablet/Kitchen/meat-1x.webp 1x,
            ./img/Tablet/Kitchen/meat-2x.webp 2x,
            ./img/Tablet/Kitchen/meat-3x.webp 3x" src="./img/Tablet/Kitchen/meat-1x.webp" alt="Meat">

            <img class="kitchen-pic-shadow kitchen-pic-dt" srcset=" 
            ./img/Desktop/Kitchen/meat@1x.webp 1x,
            ./img/Desktop/Kitchen/meat@2x.webp 2x,
            ./img/Desktop/Kitchen/meat@3x.webp 3x" src="./img/Desktop/Kitchen/meat@1x.webp" alt="Meat">

            <p class="kitchen-text kitchen-brown-edition">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

        </div>
        
        <!-- Slider -->

        <div class="kitchen-slider">
            <div class="kitchen-slider-images">

                <img class="kitchen-pic-shadow kitchen-pic-mobile" srcset=" 
                ./img/Mobile/Kitchen/flour_1x.webp 1x,
                ./img/Mobile/Kitchen/flour_2x.webp 2x,
                ./img/Mobile/Kitchen/flour_3x.webp 3x" src="./img/Mobile/Kitchen/flour_1x.webp" alt="Flour">

                <img class="kitchen-pic-shadow kitchen-pic-mobile" srcset=" 
                ./img/Mobile/Kitchen/khinkali_1x.webp 1x,
                ./img/Mobile/Kitchen/khinkali_2x.webp 2x,
                ./img/Mobile/Kitchen/khinkali_3x.webp 3x" src="./img/Mobile/Kitchen/khinkali_1x.webp"
                    alt="Khinkali">

                <img class="kitchen-pic-shadow kitchen-pic-tab" srcset="
                ./img/Tablet/Kitchen/flour-1x.webp 1x,
                ./img/Tablet/Kitchen/flour-2x.webp 2x,
                ./img/Tablet/Kitchen/flour-3x.webp 3x" src="./img/Tablet/Kitchen/flour-1x.webp" alt="Flour">

                <img class="kitchen-pic-shadow kitchen-pic-tab" srcset="
                ./img/Tablet/Kitchen/khinkali-1x.webp 1x,
                ./img/Tablet/Kitchen/khinkali-2x.webp 2x,
                ./img/Tablet/Kitchen/khinkali-3x.webp 3x" src="./img/Tablet/Kitchen/khinkali-1x.webp"
                    alt="Khinkali">

                <img class="kitchen-pic-shadow kitchen-pic-dt" srcset=" 
                ./img/Desktop/Kitchen/flour@1x.webp 1x,
                ./img/Desktop/Kitchen/flour@2x.webp 2x,
                ./img/Desktop/Kitchen/flour@3x.webp 3x" src="./img/Desktop/Kitchen/flour@1x.webp" alt="Flour">

                <img class="kitchen-pic-shadow kitchen-pic-dt" srcset=" 
                ./img/Desktop/Kitchen/khinkali@1x.webp 1x,
                ./img/Desktop/Kitchen/khinkali@2x.webp 2x,
                ./img/Desktop/Kitchen/khinkali@3x.webp 3x" src="./img/Desktop/Kitchen/khinkali@1x.webp"
                    alt="Registration">
            </div>

            <div class="kitchen-button">
                <ul class="kitchen-btn-click list">
                    <li class="kitchen-btn-click-item">
                        <svg width="32" height="32">
                            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                    </li>
                    <li class="kitchen-btn-click-item">
                        <svg width="32" height="32">
                            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>