<!-- draft location html -->


    <div>

        <section  >
            <h2>МІМІНО</h2>
            <p >Ресторанно-готельний комплекс</p>
            <address>
                <ul  >
                    <li  >Ресторан
                        <div  >
                            <svg   Width="12" Height="20">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380955559533"  >095 555 95 33</a>
                        </div>
                    </li>

                    <li  >Готель
                        <div  >
                            <svg   Width="12" Height="20">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380668491089"  >066 849 10 89</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="tel:+380672758540"  >067 275 85 40</a>
                        </div>
                    </li>
                    <li>
                        <div  >
                            <svg  Width="12" Height="20">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="https://www.google.com/maps/place/вулиця+Маршала+Бірюзова,+15,+Полтава,+Полтавська+область,+36000/@49.5997642,34.526203,17z/data=!4m6!3m5!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463!16s%2Fg%2F1tggm4y1"
                                 >Україна, м. Полтава,
                                вул. Маршала Бірюзова, 15</a>
                        </div>
                    </li>
                </ul>
            </address>

             <iframe 
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2367.035014499828!2d34.526203!3d49.5997642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1676572470074!5m2!1suk!2sua"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
                         

        </section>
    </div>