<!-- ///////////////////////////////////// -->

<div class="modal-block modal modal-second" data-modal="book-room"> 
  <button class="modal-close-btn js-modal-close" type="button">
    <svg class="modal-icon" width="24" height="24">
      <use href="./img/symbol-defs.svg#icon-menu-close"></use>
    </svg>
  </button>
  <h2 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h2>
  <form class="modal-form">
    <div class="modal-field modal-field-hotel">
      <input
        class="field-input"
        type="text"
        name="text"
        id="name"
        placeholder="Ваше ім’я"
        required
      />
      <label class="field-label" for="name">На кого забронювати столик?</label>
    </div>
    <div class="modal-field modal-field-hotel">
      <input
        class="field-input"
        type="tel"
        name="phone"
        id="phone"
        placeholder="+38 (___) ___-__-__"
        required
      />
      <label class="field-label" for="phone">Номер телефону</label>
    </div>
    <div class="modal-field modal-hotel-flex modal-field-hotel">
      <select class="field-input field-select" id="table" name="table-count" required>
        <option value="1">Двомісний</option>
        <option value="2">Двомісний люкс</option>
        <option value="3">Трьохмісний</option>
      </select>
      <svg width="24" height="24" class="modal-arrow-icon">
        <use href="./img/symbol-defs.svg#icon-arrowdown-for-modal"></use>
      </svg>
      <label class="field-label" for="table">Категорія номеру</label>
    </div>
    <div class="modal-field modal-field-hotel">
      <select class="field-input field-select" id="day" name="day-to-go" required>
        <option value="today" selected>Сьогодні</option>
        <option value="tommorow">Завтра</option>
        <option value="next-day">Через день</option>
      </select>
      <svg width="24" height="24" class="modal-arrow-icon">
        <use href="./img/symbol-defs.svg#icon-arrowdown-for-modal"></use>
      </svg>
      <label class="field-label" for="table">Дата заїзду</label>
    </div>
    <div class="modal-field modal-field-hotel">
      <select class="field-input field-select" id="day" name="day-to-go" required>
        <option value="today" selected>Сьогодні</option>
        <option value="tommorow">Завтра</option>
        <option value="next-day">Через день</option>
      </select>
      <svg width="24" height="24" class="modal-arrow-icon">
        <use href="./img/symbol-defs.svg#icon-arrowdown-for-modal"></use>
      </svg>
      <label class="field-label" for="table">Дата виїзду</label>
    </div>
    <button class="modal-submit-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>  
</div>


<!-- TABLE -->

<div class="modal-block modal-first modal" data-modal="book-table">
  <button class="modal-close-btn js-modal-close" type="button">
    <svg class="modal-icon" width="24" height="24">
      <use href="./img/symbol-defs.svg#icon-menu-close"></use>
    </svg>
  </button>
  <h2 class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
  <form class="modal-form">
    <div class="modal-field modal-field-restaurant">
      <input
        class="field-input"
        type="text"
        name="text"
        id="name"
        placeholder="Ваше ім’я"
        required
      />
      <label class="field-label" for="name">На кого забронювати столик?</label>
    </div>
    <div class="modal-field modal-field-restaurant">
      <input
        class="field-input"
        type="tel"
        name="phone"
        id="phone"
        placeholder="+38 (___) ___-__-__"
        required
      />
      <label class="field-label" for="phone">Номер телефону</label>
    </div>
    <div class="modal-field modal-field-restaurant">
      <select class="field-input field-select" id="table" name="table-count" required>
        <option value="1">1</option>
        <option value="2" selected>2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <svg width="24" height="24" class="modal-arrow-icon">
        <use href="./img/symbol-defs.svg#icon-arrowdown-for-modal"></use>
      </svg>
      <label class="field-label" for="table"
        >Столик на яку кількість осіб?</label
      >
    </div>
    <div class="modal-field modal-field-restaurant">
      <select class="field-input field-select" id="day" name="day-to-go" required>
        <option value="today" selected>Сьогодні</option>
        <option value="tommorow">Завтра</option>
        <option value="next-day">Через день</option>
      </select>
      <svg width="24" height="24" class="modal-arrow-icon">
        <use href="./img/symbol-defs.svg#icon-arrowdown-for-modal"></use>
      </svg>
      <label class="field-label" for="table">На яку дату бронювати?</label>
    </div>
    <button class="modal-submit-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>


    <!-- Подложка под модальным окном -->
  <div class="overlay js-overlay-modal"></div>


  <!-- //////////////////////// -->

  <div class="modal-block modal" data-modal="price"> 
    <button class="modal-close-btn js-modal-close" type="button">
      <svg class="modal-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">ЦІНИ НА НОМЕР</h2>
    <h3 class="modal-mini-title">Двомісний люкс</h3>
    <p class="modal-category">Категорія номеру</p>
    <form class="modal-form">
      <div class="modal-field modal-field-hotel">
        <input
          class="field-input"
          type="number"
          name="number"
          id="number"
          placeholder="1"
          required
        />
        <label class="field-label" for="number">Кількість ночей</label>
      </div>
      <div class="modal-field modal-field-hotel">
        <input
          class="field-input"
          type="number"
          name="price"
          id="price"
          placeholder="1000"
          required
        />
        <label class="field-label" for="price">грн</label>
      </div>
      <button class="modal-submit-btn" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>  
  </div>