
<section class="restaurant-dec">
    <div class="container">
        <h2 class="title-text">Amet minim mollit non</h2>
        <h2 class="title-text_mimiho">MIMIHO</h2>
        <div  class="one-row">
            <p class="res_text-desc black-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img 
            class="restaurant-interior-photo"
            srcset="
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img1@1x.webp 1x,
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img1@2x.webp 2x,
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img1@3x.webp 3x
            "
            src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img1@1x.webp" 
            alt="">
        </div>
        <div class="two-row">
            <img 
            class="restaurant-interior_photo-two"
            srcset="
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img2@1x.webp 1x,
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img2@2x.webp 2x,
            ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img2@3x.webp 3x
            "
            src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img2@1x.webp" 
            alt="">
            <p class="res_text-desc gold-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="restaurant-img-slider">
            <div class="restaurant-img-slider-box">
                <img 
                srcset="
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@1x.webp 1x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@2x.webp 2x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@3x.webp 3x
                "
                src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img3@1x.webp" 
                alt=""
                width="245" 
                height="245"
                >
                <img 
                srcset="
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@1x.webp 1x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@2x.webp 2x,
                ../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@3x.webp 3x
                "
                src="../img/Mobile/Restourant_dec/mobile-restaurant-interior-img4@1x.webp" 
                alt=""
                width="245" 
                height="245"
                >
            </div>
            <div class="arrow">
                <button class="room-arrow-btn" type="button">
                    <svg width="32px" height="32px">
                      <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                  </button>
                  <button class="room-arrow-btn" type="button">
                    <svg width="32px" height="32px">
                      <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
            </div>
        </div>
    </div>
</section>