<div class="container">
  <section class="restaurant-desk">
    <div class="rd-text-div">
      <h2 class="rd-header">MIMINO</h2>
      <p class="rd-name">Ресторан</p>
      <p class="rd-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="rd-scroll">
      <img src="../img/image-1.jpg" alt="meat" />
      <img src="../img/image-2.jpg" alt="second-pic" />
    </div>
    <div class="rd-scroll-btn">
      <svg class="rd-svg">
        <use
          href="../img/icons.svg#icon-vector-left"
          width="32px"
          height="32px"
        ></use>
      </svg>
      <svg class="rd-svg">
        <use
          href="../img/icons.svg#icon-vector-right"
          width="32px"
          height="32px"
        ></use>
      </svg>
    </div>
    <div class="rd-btn-div">
      <button type="button" class="rd-btn">Забронювати столик</button>
      <button type="button" class="rd-btn">Переглянути меню</button>
    </div>
  </section>
</div>
