<div class="container">
  <section class="restaurant-menu">
    <p class="menu-header">МЕНЮ РЕСТОРАНУ</p>
    <div class="menu-div">
      <ul class="menu-list">
        <p class="menu-chapter">Гарячі страви</p>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Борщ з телятини з квасолею</p>
            <p class="menu-item-description">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </div>
          <p class="menu-item-weight">400 г</p>
          <p class="menu-item-price">240 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Суп сирний з куркою</p>
            <p class="menu-item-description">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </div>
          <p class="menu-item-weight">400 г</p>
          <p class="menu-item-price">200 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Паста карбонара</p>
            <p class="menu-item-description">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </div>
          <p class="menu-item-weight">350 г</p>
          <p class="menu-item-price">430 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Стейк зі свинини</p>
            <p class="menu-item-description">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </div>
          <p class="menu-item-weight">400 г</p>
          <p class="menu-item-price">500 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Горбуша в соусі з білого вина</p>
            <p class="menu-item-description">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </div>
          <p class="menu-item-weight">400 г</p>
          <p class="menu-item-price">400 грн</p>
        </li>
      </ul>

      <!-- Гарніри та закуски -->

      <ul class="menu-list">
        <p class="menu-chapter">Гарніри та закуски</p>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Запечені овочі</p>
            <p class="menu-item-description">
              Кабачок, перець, помідор, баклажан
            </p>
          </div>
          <p class="menu-item-weight">200 г</p>
          <p class="menu-item-price">230 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Картопля фрі</p>
            <p class="menu-item-description">Картопля, соус томатний</p>
          </div>
          <p class="menu-item-weight">150 г</p>
          <p class="menu-item-price">160 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Картопля по-селянськи</p>
            <p class="menu-item-description">
              Картопля, спеції, соус пікантний
            </p>
          </div>
          <p class="menu-item-weight">150 г</p>
          <p class="menu-item-price">160 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Хрумкі соління з бочки</p>
            <p class="menu-item-description">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </div>
          <p class="menu-item-weight">250 г</p>
          <p class="menu-item-price">350 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Крильця курячі в медовому соусі</p>
            <p class="menu-item-description">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </div>
          <p class="menu-item-weight">400 г</p>
          <p class="menu-item-price">420 грн</p>
        </li>
      </ul>

      <!-- Салати -->

      <ul class="menu-list">
        <p class="menu-chapter">Салати</p>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Цезар з куркою</p>
            <p class="menu-item-description">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </div>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">450 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Цезар з креветками</p>
            <p class="menu-item-description">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </div>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">300 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">Грецький салат</p>
            <p class="menu-item-description">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </div>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">280 грн</p>
        </li>
        <li class="menu-item">
          <div class="menu-item-div">
            <p class="menu-item-name">М’ясний салат</p>
            <p class="menu-item-description">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </div>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">300 грн</p>
        </li>
      </ul>

      <!-- Десерти -->

      <ul class="menu-list">
        <p class="menu-chapter">Десерти</p>
        <li class="menu-item">
          <p class="menu-item-name">Торт наполеон</p>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">300 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Торт маковий</p>
          <p class="menu-item-weight">230 г</p>
          <p class="menu-item-price">300 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Тірамісу</p>
          <p class="menu-item-weight">120 г</p>
          <p class="menu-item-price">260 грн</p>
        </li>
      </ul>

      <!-- Напої -->

      <ul class="menu-list">
        <p class="menu-chapter">Напої</p>
        <li class="menu-item">
          <p class="menu-item-name">Чай чорний/зелений</p>
          <p class="menu-item-weight">500 мл</p>
          <p class="menu-item-price">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Еспресо</p>
          <p class="menu-item-weight">30 мл</p>
          <p class="menu-item-price">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Американо</p>
          <p class="menu-item-weight">150 мл</p>
          <p class="menu-item-price">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Капучино</p>
          <p class="menu-item-weight">200 мл</p>
          <p class="menu-item-price">160 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-name">Лате</p>
          <p class="menu-item-weight">200 мл</p>
          <p class="menu-item-price">160 грн</p>
        </li>
      </ul>
    </div>
    <div class="menu-btn-div">
      <button type="button" class="menu-btn">Забронювати столик</button>
    </div>
  </section>
</div>
