<section class="section-restaurant">
    <div class="container-restaurant">
        <ul class="title-list">
            <li><h2 class="title-text_l">Amet minim mollit non</h2></li>
            <li><h2 class="title-text_ll">MIMIHO</h2></li>
            <li><p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p></li>
            <li><img src="" alt=""></li>
        </ul>
        <div>
            <img src="" alt="">
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
    </div>
</section>