<section class="restaurant">
    <div class="container container-restaurant">
        <ul class="title-text-list list">
            <li><h2 class="title-text">Amet minim mollit non</h2></li>
            <li><h2 class="title-text_mimiho">MIMIHO</h2></li>
        </ul>
        <ul class="photo-list list">
            <li>
                <p class="res_text-desc black-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <img 
                class="restaurant-interior-photo"
                srcset=""
                src="../img/Mobile/Restourant_dec/mobile-restaurant-img1.jpg" 
                alt="">
            </li>
            <li class="two-row">
                <img 
                class="restaurant-interior_photo-two"
                srcset=""
                src="../img/Mobile/Restourant_dec/mobile-restaurant-img2.jpg" 
                alt="">
                <p class="res_text-desc gold-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
        </ul>
        <ul class="img-list list">
            <li>
                <img 
                srcset=""
                src="../img/Mobile/Restourant_dec/mobile-restaurant-img3.jpg" 
                alt="">
            </li>
            <li>
                <img 
                srcset=""
                src="../img/Mobile/Restourant_dec/mobile-restaurant-img4.jpg" 
                alt="">
            </li>
        </ul>
        <ul class="btn-click-list list">
            <li class="res-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="res-btn-click-item">
                <svg width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>    
    </div>
</section>