<section class="restaurant-desk">
  <div class="container">
    <div class="rd-text-div">
      <h2 class="rd-header">MIMIHO</h2>
      <p class="rd-name">Ресторан</p>
      <p class="rd-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="rd-scroll">
      <img
        srcset="
          ../img/Mobile/Rest-desk/rest-desk-img1@1x.webp 1x,
          ../img/Mobile/Rest-desk/rest-desk-img1@2x.webp 2x,
          ../img/Mobile/Rest-desk/rest-desk-img1@3x.webp 3x
        "
        src="../img/Mobile/Rest-desk/rest-desk-img1@1x.webp"
        alt="meat"
      />
      <img
        srcset="
          ../img/Mobile/Rest-desk/rest-desk-img2@1x.webp 1x,
          ../img/Mobile/Rest-desk/rest-desk-img2@2x.webp 2x,
          ../img/Mobile/Rest-desk/rest-desk-img2@3x.webp 3x
        "
        src="../img/Mobile/Rest-desk/rest-desk-img2@1x.webp"
        alt="meat-with-bread"
        class="rd-scroll-short-img"
      />
      <img
        srcset="
          ../img/Mobile/Rest-desk/rest-desk-img3@1x.webp 1x,
          ../img/Mobile/Rest-desk/rest-desk-img3@2x.webp 2x,
          ../img/Mobile/Rest-desk/rest-desk-img3@3x.webp 3x
        "
        src="../img/Mobile/Rest-desk/rest-desk-img3@1x.webp"
        alt="snacks"
      />
    </div>
    <div class="rd-scroll-btn">
      <svg class="rd-svg" width="32px" height="32px">
        <use href="/img/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
      <svg class="rd-svg" width="32px" height="32px">
        <use href="/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <div class="rd-btn-div">
      <button type="button" class="rd-btn">Забронювати столик</button>
      <button type="button" class="rd-btn">Переглянути меню</button>
    </div>
  </div>
</section>
