<section class="room-desc">
    <div class="container">
        <div>
            <h2 class="room-desc-general-title">Зручності у номері</h2>
            <p  class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <ul class="room-desc-list">
            <li  class="room-desc-list-member">
                <h3 class="room-desc-title">Загальні</h3>
                    <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                
            </li>
            <li class="room-desc-list-member">
                <h3 class="room-desc-title">Ванна кімната</h3>
                    <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li class="room-desc-list-member">
                <h3 class="room-desc-title">Спальня</h3>
                <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li class="room-desc-list-member">
                <h3 class="room-desc-title">Кухня</h3>
                <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li class="room-desc-list-member">
                <h3 class="room-desc-title">Медіа</h3>
                <p class="room-desc-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
            </li>
        </ul>
        <div class="room-desc-interaction">
        <button type="button" class="room-desc-button">ОФОРМИТИ БРОНЮВАННЯ</button>
        <div class="room-desc-link"><a href="hotel.html" class="room-desc-link-text">Повернутися до перегляду номерів</a><svg class="room-desc-icon" width="24" height="24"><use href="../img/symbol-defs.svg#arrow-right-room-desc"></use></svg></div>
        </div>
    </div>
</section>
