<section class="double-room section">
  <div class="container">
    <h2 class="double-room-secret-name">Double room suite</h2>
    <p class="double-room-subtitle">Amet minim mollit non</p>
    <h3 class="doubl-room-logo">MIMIHO</h3>
    <h4 class="double-room-title">ДВОМІСНИЙ НОМЕР</h4>
    <p class="double-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      srcset="../img/Mobile/Room_details/mobile-room-details-img4@1x.webp 1x,
    ../img/Mobile/Room_details/mobile-room-details-img4@2x.webp 2x,
    ../img/Mobile/Room_details/mobile-room-details-img4@3x.webp 3x"
      src="../img/Mobile/Room details/mobile-room-details-img4@1x.webp"
      alt="Apartment interrior with elements decoration"
      width="244"
      height="322"
    />
    <div class="double-room-slider">
      <img
        srcset="../img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
        ../img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
        ../img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x"
        src="../img/Mobile/Room details/mobile-room-details-img5@1x.webp"
        alt="Living room interrior with elements decoration"
        width="194"
        height="194"
      />
      <img
        srcset="../img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
      ../img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
      ../img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x"
        src="../img/Mobile/Room details/mobile-room-details-img6@1x.webp"
        alt="Bathroom interrior with elements decoration"
        width="194"
        height="194"
      />
    </div>
    <div class="double-room-arrow">
      <button class="room-arrow-btn" type="button">
        <svg width="32px" height="32px">
          <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="room-arrow-btn" type="button">
        <svg width="32px" height="32px">
          <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="double-room-nav">
      <a href="" class="room-nav-link">Детальніше</a>
      <button class="room-nav-btn" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
