<div class="wrapper">
  <div class="room-1-name">
    <p class="room-1-pre-title">Amet minim mollit non</p>

    <h2 class="room-1-logo">MIMIHO</h2>

    <h3 class="room-1-title">ДВОМІСНИЙ НОМЕР люкс</h3>

    <p class="room-1-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="room-1-img-general">
      <div class="room-1-img"></div>
    </div>
  </div>

  <div class="room-1-slader">
    <div class="room-1-img-1"></div>
    <div class="room-1-img-2"></div>
  </div>

  <div class="room-1-button">
    <ul class="room-1-btn-click">
      <li class="room-1-btn-click-item">
        <svg>
          <use href=""></use>
        </svg>
      </li>
      <li class="room-1-btn-click-item">
        <svg>
          <use href=""></use>
        </svg>
      </li>
    </ul>

    <div class="room-1-btn">
      <a class="room-1-btn-link">Детальніше</a>

      <button class="room-1-btn-link">Переглянути ціни</button>
    </div>
  </div>
</div>
