<section class="room-one section">
    <div class="container room-one-container">
        <h2 class="room-one-pre-title">Amet minim mollit non</h2>
      
        <h2 class="room-one-logo">MIMIHO</h2>
    
        <h3 class="room-one-title">ДВОМІСНИЙ НОМЕР люкс</h3>
    
        <p class="room-one-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat duis enim velit mollit. Exercitation veniam
          consequat sunt nostrud amet.
        </p>

        <!-- Room 1 img mobile -->
    
        <div class="room-one-img-general">
            <img class="room-one-img"
            srcset="../img/Mobile/Room_details/mobile-room-details-img4@1x.webp 1x,
          ../img/Mobile/Room_details/mobile-room-details-img4@2x.webp 2x,
          ../img/Mobile/Room_details/mobile-room-details-img4@3x.webp 3x"
            src="../img/Mobile/Room details/mobile-room-details-img4@1x.webp"
            alt="Apartment room"
            width="244"
            height="322"
          />
        </div>

        <!-- Room 1 img tablet -->

            <img class="room-one-img-tab"
            srcset="
              ../img/Tablet/Room_details/tablet-room-details-img4@1x.webp 1x,
              ../img/Tablet/Room_details/tablet-room-details-img4@2x.webp 2x,
              ../img/Tablet/Room_details/tablet-room-details-img4@3x.webp 3x
            "
            src="../img/Tablet/Room_details/tablet-room-details-img4@1x.webp"
            alt="Apartment room"
            width="400"
            height="524"
          />
           <!-- Room 1 img desktop -->
    <img
    class="room-one-img-desktop"
    srcset="
      ../img/Tablet/Room_details/tablet-room-details-img4@1x.webp 1x,
      ../img/Tablet/Room_details/tablet-room-details-img4@2x.webp 2x,
      ../img/Tablet/Room_details/tablet-room-details-img4@3x.webp 3x
    "
    src="../img/Desktop/Room_details/Room-1/apartment-img-3@1x.webp"
    alt="Apartment interrior with elements decoration"
    width="460"
    height="574"
  />

  <!-- Room 1 slader mob -->
    
    <div class="room-one-button-mob">
        <div class="room-one-click-mob">
            <div class="room-one-slader">
                <img class="room-one-slader-one"
                srcset="../img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
                ../img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
                ../img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x"
                src="../img/Mobile/Room details/mobile-room-details-img5@1x.webp"
                alt="View from the room window"
                width="194"
                height="194"
              />
              <img class="room-one-slader-two"
                srcset="../img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
              ../img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
              ../img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x"
                src="../img/Mobile/Room details/mobile-room-details-img6@1x.webp"
                alt="Apartment bathroom"
                width="194"
                height="194"
              />
              </div>
              
              <div class="room-one-button">
                <ul class="room-one-btn-click list">
                  <li class="room-one-btn-click-item">
                    <button type="button" class="room-one-btn-none">
                        <svg width="32" height="32">
                            <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                          </svg>
                    </button>
                  </li>
                  <li class="room-one-btn-click-item">
                    <button type="button" class="room-one-btn-none">
                        <svg width="32" height="32">
                            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                          </svg>
                    </button>
                  </li>
                </ul>
            </div>
        </div>
    
        
        <div class="room-one-link">
            <a class="room-one-link-btn button" href="#">Детальніше</a>
            <button class="room-one-link-btn button" type="button">Переглянути ціни</button>
        </div>
    </div>

        <!-- Room 1 slader tab -->

        <div class="room-one-button-tab">
            <div class="room-one-click-tab">
                <div class="room-one-slader-tab">
                    <img
                      class="room-one-slader-one-tab"
                      srcset="
                        ../img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
                        ../img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
                        ../img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x
                      "
                      src="../img/Mobile/Room_details/mobile-room-details-img5@1x.webp"
                      alt="View from the room window"
                      width="194"
                      height="194"
                    />
                    <img
                      class="room-one-slader-two-tab"
                      srcset="
                        ../img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
                        ../img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
                        ../img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x
                      "
                      src="../img/Mobile/Room_details/mobile-room-details-img6@1x.webp"
                      alt="Apartment bathroom"
                      width="194"
                      height="194"
                    />
                  </div>
      
                  <div class="room-one-button">
                      <ul class="room-one-btn-click list">
                        <li class="room-one-btn-click-item">
                          <button type="button" class="room-one-btn-none">
                              <svg width="32" height="32">
                                  <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                                </svg>
                          </button>
                        </li>
                        <li class="room-one-btn-click-item">
                          <button type="button" class="room-one-btn-none">
                              <svg width="32" height="32">
                                  <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                                </svg>
                          </button>
                        </li>
                      </ul>
                  </div>  
            </div>  
            
            <div class="room-one-link">
                <a class="room-one-link-btn button" href="#">Детальніше</a>
                <button class="room-one-link-btn button" type="button">Переглянути ціни</button>
            </div>    
        </div>

      <!-- Room 1 slader desktop -->
      
           <div class="room-one-button-desktop">
            <div class="room-one-click-desktop">
                <div class="room-one-slader-desktop">
                    <img
                      class="room-one-slader-one-desktop"
                      srcset="
                        ../img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp 1x,
                        ../img/Desktop/Room_details/Room-2/apartment-img-2@2x.webp 2x,
                        ../img/Desktop/Room_details/Room-2/apartment-img-2@3x.webp 3x
                      "
                      src="../img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp"
                      alt="View from the room window"
                      width="254"
                      height="254"
                    />
                    <img
                      class="room-one-slader-two-desktop"
                      srcset="
                        ../img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp,
                        ../img/Desktop/Room_details/Room-2/apartment-img-3@2x.webp 2x,
                        ../img/Desktop/Room_details/Room-2/apartment-img-3@3x.webp 3x
                      "
                      src="../img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp"
                      alt="Apartment bathroom"
                      width="254"
                      height="254"
                    />
                  </div>
      
                  <div class="room-one-button">
                      <ul class="room-one-btn-click list">
                        <li class="room-one-btn-click-item">
                          <button type="button" class="room-one-btn-none">
                              <svg width="32" height="32">
                                  <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
                                </svg>
                          </button>
                        </li>
                        <li class="room-one-btn-click-item">
                          <button type="button" class="room-one-btn-none">
                              <svg width="32" height="32">
                                  <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                                </svg>
                          </button>
                        </li>
                      </ul>
                  </div> 
            </div> 

            <div class="room-one-link">
                <a class="room-one-link-btn button" href="#">Детальніше</a>
                <button class="room-one-link-btn button" type="button">Переглянути ціни</button>
            </div>  
           </div>
      
    </div>         
</section>
