<section class="triple-room-section">
  <div class="container">
    <p class="triple-room-subtitle">Amet minim mollit non</p>
    <h3 class="triple-room-logo">MIMIHO</h3>
    <h4 class="triple-room-title">ТРЬОХМІСНИЙ НОМЕР</h4>
    <p class="triple-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <!-- ROOM IMG MOBILE -->
    <picture class="triple-room-img">
      <source  srcset="./img/Desktop/Room_details/Room-2/apartment-img-1@1x.webp 1x,
      ./img/Desktop/Room_details/Room-2/apartment-img-1@2x.webp 2x,
      ./img/Desktop/Room_details/Room-2/apartment-img-1@3x.webp 3x" media="(min-width:1200px)"/>
      <source srcset="
        ./img/Tablet/Room_details/tablet-room-details-img4@1x.webp 1x,
        ./img/Tablet/Room_details/tablet-room-details-img4@2x.webp 2x,
        ./img/Tablet/Room_details/tablet-room-details-img4@3x.webp 3x
      " media="(min-width:768px)"/>
      <source srcset="
        ./img/Mobile/Room_details/mobile-room-details-img4@1x.webp 1x,
        ./img/Mobile/Room_details/mobile-room-details-img4@2x.webp 2x,
        ./img/Mobile/Room_details/mobile-room-details-img4@3x.webp 3x
        " media="(min-width: 320px)"/>
      <img class="triple-room-img-top" src="./img/Desktop/Room_details/Room-2/apartment-img-1@1x.webp"
      alt="Apartment interrior with elements decoration" width="100%">
    </picture>
    
    <!--  -->
    <div class="triple-room-item">
      <div class="triple-room-slider">
        <div class="triple-room-slider-box">

          <div class="triple-room-slider-img">
            <picture>
              <source
                srcset="
                  ./img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp 1x,
                  ./img/Desktop/Room_details/Room-2/apartment-img-2@2x.webp 2x,
                  ./img/Desktop/Room_details/Room-2/apartment-img-2@3x.webp 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/Tablet/Room_details/tablet-room-details-img5@1x.webp 1x,
                  ./img/Tablet/Room_details/tablet-room-details-img5@2x.webp 2x,
                  ./img/Tablet/Room_details/tablet-room-details-img5@3x.webp 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
                  ./img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
                  ./img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x
                "
                media="(min-width:320px)"
              />
              <img
                class="triple-room-slider-img"
                src="./img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp"
                alt="Living room interrior with elements decoration"
                width="100%"
              />
            </picture>
          </div>

          <div class="triple-room-slider-img">
            <picture>
              <source
                srcset="
                  ./img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp 1x,
                  ./img/Desktop/Room_details/Room-2/apartment-img-3@2x.webp 2x,
                  ./img/Desktop/Room_details/Room-2/apartment-img-3@3x.webp 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/Tablet/Room_details/tablet-room-details-img6@1x.webp 1x,
                  ./img/Tablet/Room_details/tablet-room-details-img6@2x.webp 2x,
                  ./img/Tablet/Room_details/tablet-room-details-img6@3x.webp 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
                  ./img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
                  ./img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x
                "
                media="(min-width:320px)"
              />
              <img
                class="triple-room-slider-img"
                src="./img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp"
                alt="Living room interrior with elements decoration"
                width="100%"
              />
            </picture>
          </div>

         

         
        </div>
        
        <div class="triple-room-arrow">
          <button class="triple-room-arrow-btn" type="button">
            <svg width="32px" height="32px">
              <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="triple-room-arrow-btn" type="button">
            <svg width="32px" height="32px">
              <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
        <div class="triple-room-nav">
          <a href="./room-page.html" class="triple-room-nav-link">Детальніше</a>
          <button class="triple-room-nav-btn js-open-modal" data-modal="price" type="button">
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>

    

</section>