<section class="triple-room">
  <div class="container">
      <p class="triple-room-text"> Amet minim mollit non </p>
      <h1 class="triple-room-title">MIMIHO</h1>
<h1 class="triple-room-second-title">ТРЬОХМІСНИЙ НОМЕР</h1>
<div class="paragraph">
<p class="triple-room-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>

<img
      class="triple-room-img triple-room-img-mob"
      srcset="
        ../img/Mobile/Room_details/mobile-room-details-img4@1x.webp 1x,
        ../img/Mobile/Room_details/mobile-room-details-img4@2x.webp 2x,
        ../img/Mobile/Room_details/mobile-room-details-img4@3x.webp 3x
      "
      src="../img/Mobile/Room_details/mobile-room-details-img4@1x.webp"
      alt="Apartment interrior with elements decoration"
     
    />
    <div class="triple-room-slider-box">
      <img
        class="triple-room-slider-img"
        srcset="
          ../img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
          ../img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
          ../img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x
        "
        src="../img/Mobile/Room_details/mobile-room-details-img5@1x.webp"
        alt="Living room interrior with elements decoration"
       
      />
      <img
        class="triple-room-slider-img"
        srcset="
          ../img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
          ../img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
          ../img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x
        "
        src="../img/Mobile/Room_details/mobile-room-details-img6@1x.webp"
        alt="Bathroom interrior with elements decoration"
        
      />
    </div>



<div class="triple-room-svg">
<button class="triple-room-arrow-btn" type="button">
<svg width="32px" height="32px">
  <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
</svg>
</button>

<button class="triple-room-arrow-btn" type="button">
<svg width="32px" height="32px">
  <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
</svg>
</button>
</div>


<div class="triple-room-nav">
<a href="../room-page.html" class="triple-room-nav-link">Детальніше</a>
<button class="triple-room-nav-btn" type="button">Переглянути ціни</button>
</div>

</div>
</section>