<section class="triple-room">
    <div class="container">
        <p class="triple-room-text"> Amet minim mollit non </p>
        <h1 class="triple-room-title">MIMIHO</h1>
<h1 class="triple-room-second-title">ТРЬОХМІСНИЙ НОМЕР</h1>
<p class="triple-room-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>


   <img src="" 
    alt="picture"
    width="244"
    height="322"/>

<div class="triple-room-slider">
    <img src="" 
    alt="picture"
    width="194"
    height="194" />


    <img src="" 
    alt="picture"
    width="194"
    height="194" />
</div>


<div class="triple-room-svg">
<button class="triple-room-arrow-btn" type="button">
  <svg width="32px" height="32px">
    <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
  </svg>
</button>

<button class="triple-room-arrow-btn" type="button">
  <svg width="32px" height="32px">
    <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
  </svg>
</button>
</div>


<div class="triple-room-nav">
<a href="" class="triple-room-nav-link link">Детальніше</a>
<button class="triple-room-nav-btn" type="button">Переглянути ціни</button>
</div>

</div>
</section>
    </section>