<section class="room-desc">
    <div class="room-desc-container">
        <div class="room-desc-introduction" >
            <h2>Зручності у номері</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <ul class="room-desc-list">
            <li>
                <h3>Загальні</h3>
                <div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </li>
            <li>
                <h3>Ванна кімната</h3>
                <div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
            </li>
            <li>
                <h3>Спальня</h3>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li>
                <h3>Кухня</h3>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li>
                <h3>Медіа</h3>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
            </li>
        </ul>
        <button type="button" class="room-desc-button">ОФОРМИТИ БРОНЮВАННЯ</button>
        <br>
        <a href="" class="room-desc-link">Повернутися до перегляду номерів</a>
    </div>
</section>