<section class="double-room-section">
  <div class="container">
    <p class="double-room-subtitle">Amet minim mollit non</p>
    <h3 class="doubl-room-logo">MIMIHO</h3>
    <h4 class="double-room-title">ДВОМІСНИЙ НОМЕР</h4>
    <p class="double-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <!-- ROOM IMG MOBILE -->
    <picture class="double-room-img">
      <source  srcset="../img/Desktop/Room_details/Room-2/apartment-img-1@1x.webp 1x,
      ../img/Desktop/Room_details/Room-2/apartment-img-1@2x.webp 2x,
      ../img/Desktop/Room_details/Room-2/apartment-img-1@3x.webp 3x" media="(min-width:1200px)"/>
      <source srcset="
        ../img/Tablet/Room_details/tablet-room-details-img4@1x.webp 1x,
        ../img/Tablet/Room_details/tablet-room-details-img4@2x.webp 2x,
        ../img/Tablet/Room_details/tablet-room-details-img4@3x.webp 3x
      " media="(min-width:768px)"/>
      <source srcset="
        ../img/Mobile/Room_details/mobile-room-details-img4@1x.webp 1x,
        ../img/Mobile/Room_details/mobile-room-details-img4@2x.webp 2x,
        ../img/Mobile/Room_details/mobile-room-details-img4@3x.webp 3x
        " media="(min-width: 320px)"/>
      <img class="room-img-top" src="../img/Desktop/Room_details/Room-2/apartment-img-1@1x.webp"
      alt="Apartment interrior with elements decoration" width="100%">
    </picture>
    
    <!--  -->
    <div class="double-room-item">
      <div class="double-room-slider">
        <div class="double-room-slider-box">
          <div class="double-room-slider-img">
            <picture>
              <source
                srcset="
                  ../img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp 1x,
                  ../img/Desktop/Room_details/Room-2/apartment-img-2@2x.webp 2x,
                  ../img/Desktop/Room_details/Room-2/apartment-img-2@3x.webp 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ../img/Tablet/Room_details/tablet-room-details-img5@1x.webp 1x,
                  ../img/Tablet/Room_details/tablet-room-details-img5@2x.webp 2x,
                  ../img/Tablet/Room_details/tablet-room-details-img5@3x.webp 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ../img/Mobile/Room_details/mobile-room-details-img5@1x.webp 1x,
                  ../img/Mobile/Room_details/mobile-room-details-img5@2x.webp 2x,
                  ../img/Mobile/Room_details/mobile-room-details-img5@3x.webp 3x
                "
                media="(min-width:320px)"
              />
              <img
                class="double-room-slider-img"
                src="../img/Desktop/Room_details/Room-2/apartment-img-2@1x.webp"
                alt="Living room interrior with elements decoration"
                width="100%"
              />
            </picture>
          </div>
          <div class="double-room-slider-img">
            <picture>
              <source
                srcset="
                  ../img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp 1x,
                  ../img/Desktop/Room_details/Room-2/apartment-img-3@2x.webp 2x,
                  ../img/Desktop/Room_details/Room-2/apartment-img-3@3x.webp 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ../img/Tablet/Room_details/tablet-room-details-img6@1x.webp 1x,
                  ../img/Tablet/Room_details/tablet-room-details-img6@2x.webp 2x,
                  ../img/Tablet/Room_details/tablet-room-details-img6@3x.webp 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ../img/Mobile/Room_details/mobile-room-details-img6@1x.webp 1x,
                  ../img/Mobile/Room_details/mobile-room-details-img6@2x.webp 2x,
                  ../img/Mobile/Room_details/mobile-room-details-img6@3x.webp 3x
                "
                media="(min-width:320px)"
              />
              <img
                class="double-room-slider-img"
                src="../img/Desktop/Room_details/Room-2/apartment-img-3@1x.webp"
                alt="Living room interrior with elements decoration"
                width="100%"
              />
            </picture>
          </div>
        </div>
        <div class="double-room-arrow">
          <button class="room-arrow-btn" type="button">
            <svg width="32px" height="32px">
              <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="room-arrow-btn" type="button">
            <svg width="32px" height="32px">
              <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="double-room-nav">
        <a href="../room-page.html" class="room-nav-link">Детальніше</a>
        <button class="room-nav-btn js-open-modal" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
</section>
