/* Home page */
@import url('./reset.css');
@import url('./team-24/header.css');
@import url('./team-24/hero.css');
@import url('./team-24/rest-desk.css');
@import url('./team-24/hotel.css');
@import url('./team-24/hotel-desc.css');
@import url('./team-24/location.css');

/* Restaurant page */
@import url('./team-24/hero-restaurant.css');
@import url('./team-24/kitchen.css');
@import url('./team-24/rest-menu.css');

/* Hotel page */
@import url('./team-24/hero-hotel.css');
@import url('./team-24/room-1.css');
@import url('./team-24/room-2.css');
@import url('./team-24/room-3.css');

/* Room page */
@import url('./team-24/hero-room.css');
@import url('./team-24/room-desc.css');
@import url('./team-24/footer.css');

/* Modal */

@import url('./team-24/modal-two.css');


:root {
  /* Fill Color Styl */
  --akzent-yellow: #F3C653;
  --whit: #ffffff;
  --black: #000000;
  --lemon: #FFFDEE;
  --dark-lemon: #F0ECD6;
  --footer: #0E0C07;
  --main-button: rgba(0, 0, 0, 0.4);
  --main-arrow: rgba(0, 0, 0, 0.65);

  /* Text Color*/
  --text-one-color: #7A7A7A;
  --text-two-color: #C79002;
  --text-three-color: #E5E5E5;
  --text-four-color: #B4B4B4;
  --text-five-color: #494848;
  --text-six-color: #BABABA;
  --text-seven-color: #828282;

  /* FONT */

    /* font-weight */
    --font-weight-body: 700;

    /* font-size */

    /* line-height */
    --line-height-body: 1.25;

    /* letter-spacing */
    --letter-spacing-body: 0.02em;
}

body {
  margin: 0;
  background-color: var(--lemon);
  color: var(--text-one-color);

  font-family: Montserrat, sans-serif;
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

@font-face {
  font-family: 'Mimino';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Mimino Bold'), local('Mimino-Bold'),
    url(./FilmP3Bold.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 414px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background-color: var(--black);
  color: var(--whit);
}