/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./team-24/footer.css');
@import url('./team-24/hotel.css');
@import url('./team-24/location.css');
@import url('./team-24/room-1.css');
@import url('./team-24/room-2.css');

:root {
  /* Fill Color Styl */
  --akzent-yellow: #F3C653;
  --whit: #ffffff;
  --black: #000000;
  --lemon: #FFFDEE;
  --dark-lemon: #F0ECD6;
  --footer: #0E0C07;
  --main-button: rgba(0, 0, 0, 0.4);
  --main-arrow: rgba(0, 0, 0, 0.65);

  /* Text Color*/
  --text-1-color: #7A7A7A;
  --text-2-color: #C79002;
  --text-3-color: ##E5E5E5;
  --text-4-color: ##B4B4B4;
  --text-5-color: ##494848;
  --text-6-color: ##BABABA;
  --text-7-color: #828282;
}

@font-face {
  font-family: 'Mimino';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Mimino Bold'), local('Mimino-Bold'),
    url(./FilmP3Bold.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
}